/* html { /* Induces extra side margins *
  max-width: 99%;
} */

:root
{
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-sizing: border-box;

    --person-border-color: white;
    --ttl-color: white;
    --nav-link-icon-font-size: 3.5rem;;
    --tile-ttl-font-size: 5vw;
    --mar: 1rem;
    --logowidth: 7.2rem;

    --carousel-height: 75vh;
    --carousel-width: 75vw;
    --timeline-height: 100vh;
    --width-person: 13vw;
    --height-person: 13vw;

    /* 4-Color Palette */
    --events-col: rgba(253, 219, 209, 0.25);
    --gallery-col: rgba(184, 225, 231, 0.25);
    --team-col: rgba(186, 221, 195, 0.25);
    --contact-col: rgba(225, 187, 238, 0.25);

    /* Colors, Spandan gave me */
    --col0: #9bc0ff;
    --col1: #ff847e;
    --col2: #99dd9b;
    --col3: #f8c28d;
    --col4: #d4b89b;
    --col5: #f9df82;
    --col6: #97e0d4;
    --col7: #be9bff;
    --col8: #b2b7be;

    --bg: #000;
    --fg0: white;
    --fg1: #da9f93;
    --sec0: #d90368;
    --sec1: #F47983; /* #890620; */
    --sec2: #96cb7f;

    --fb: #3b5998;
    --yt: red;
    --ig: #fb3958;
    --mail-col: rgb(0, 120, 212);
    --whatsapp-col: rgb(0, 230, 118);

    scroll-behavior: smooth;
    /* overflow-x: hidden; */ /* FIXES THE CLIPPING ISSUE (IT'S NOT CLIPPING ANYWAY) - BUT MAKES HORIZONTAL SCROLLING INPOSSIBLE - RESP */
}

@font-face {
    font-family: Music;
    src: url('../fonts/AlphaMusicMan.ttf');
}

@font-face {
    font-family: Gothic;
    src: url('../fonts/century.ttf');
}

@font-face {
    font-family: Gothic_Bold;
    src: url('../fonts/centuryb.ttf');
}

body
{
    background: black url('../images/backgrounds/webp/madam.webp') center/cover no-repeat fixed;
    margin: 0;

    display: grid;
    grid-template-areas:
        "side content"
        "side content"
        "side content";

    grid-template-columns: minmax(10rem, 20rem) 94%;
    grid-row-gap: 1.5rem;
}

/* Hiding the scrollbar on the page */
body::-webkit-scrollbar {
    width: 0 !important;
}

body.scrolled1 {
    background: black url('../images/backgrounds/webp/apratim.webp') center/cover no-repeat fixed;
}

body.scrolled2 {
    background: black url('../images/backgrounds/webp/satyam.webp') center/cover no-repeat fixed;
}

body.scrolled3 {
    background: black url('../images/backgrounds/webp/jamal.webp') center/cover no-repeat fixed;
}

a:hover, a:link, a:active, a:any-link, a:visited
{
    text-decoration: none !important;
}

ul
{
    padding: 0;
    list-style-type: none;
}

#side {
    background: transparent;
    grid-area: side;
    text-align: center;
    backdrop-filter: blur(20px);
    /* width: auto; */
}

/* LOGO Image */
#logo-link
{
    display: block;
    position: sticky;
    top: 3rem;
    margin: 3rem auto;
    max-width: var(--logowidth);
    border-radius: 50%;
}

#logo
{
    max-width: var(--logowidth);
    border-radius: 50%;
    transition: 0.3s ease;
}

#logo:hover
{
    transform: scale(1.2);
}

#nav
{
    position: sticky;
    top: 26vh;

    margin: 2rem var(--mar);

    line-height: 9vh;
    text-align: center;
}

.nav-links
{
    font-family: Monoton;
    font-size: var(--nav-link-icon-font-size);
    color: var(--fg0);

    margin: 0;
    padding: 0;

    transition: 0.2s ease;
}

.navicon
{
    transition: 0.35s ease;
}

.navicon:hover
{
    transform: scale(1.5);
    color: rgb(244, 121, 131);
    /* animation: perturbed 0.4s alternate ease-in-out infinite; */
}

footer
{
    position: sticky;
    /* top: calc(92rem - 5rem); *** */
    top: 88vh;
    margin: 0 var(--mar);
    margin-bottom: 2rem;
    padding: 1.4rem;

    /* background-color: pink; */
    border-radius: 5px;

    color: white;
    font: bold 1.5rem Gothic_Bold, cursive;
    text-align: center;
    line-height: 2.2rem;
}

#selfref
{
    color: white;
    border-bottom: 1.5px dotted rgb(125, 165, 61);
}

/* THE TITLE */
#intro
{
    display: flex;
    flex-direction: column;
    justify-content: right;

    position: relative;
    text-align: right;

    color: aliceblue;

    /* Overrides .tiles */
    border: none;
    border-radius: 0.8rem;
    overflow: hidden;
}

#intro > * {
  flex: 1;
}

.backgroundimagehack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black url('../images/backgrounds/webp/madam.webp') center/cover no-repeat fixed;
    z-index: -1;
    transition: all 1s ease;
}

.blurimage {
    filter: blur(30px);
}

#ttl
{
    color: var(--ttl-color);
    font-family: Music, serif;
    font-size: 7vw; /* CHANGED FROM 11rem - EXPERIMENTAL - RESP */
    font-weight: 500;

    text-shadow: 0px 0px 5px rgb(185, 139, 79);
    transition: 0.3s ease;
}

blockquote {
    color: rgba(82, 134, 57, 0.884);
    color: white;
    font-family: Gothic;
}
/* From: https://stackoverflow.com/questions/16325687/make-big-quotes-with-blockquote */
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before
{
    position: relative;
    top: 1.8rem;
    color: var(--sec2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    line-height: 1;
    
    content: "\201C";
}

blockquote:after
{
    position: relative;
    top: 3.2rem;
    color: var(--sec2);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    line-height: 1;
    content: "\201D";
}

#intro #social {
  display: flex;
  float: right;
  justify-content: flex-end;
  position: relative;
  right: 3rem;
}

#intro #social li {
  display: inline-block;
  font-size: 8rem;
  width: 2rem;
  margin: 0 5rem;
  justify-content: center;
}

.social-icons::after {
    content: '';
    color: rgb(226, 37, 219);
    float: right;
    margin: 0 auto;
    height: 6rem;
    width: 6px;
    background-color: rgb(226, 37, 219);
    border-radius: 3px;
    position: relative;
    right: -3rem;
    top: -7rem;
}

.ig {
    position: relative;
    right: -2.5rem;
}

#social a:link,
#social a:visited,
#social a:focus
{
  color: white;
  opacity: 0.5;
  filter: blur(1px);
  transition: 0.8s ease;
}

#social a:hover,
#social a:active,
#social a.on {
  opacity: 1;
  filter: unset;
}

#social .fb a:hover,
#social .fb a:active,
#social .fb .on {
    color: var(--fb);
}

#social .yt a:hover,
#social .yt a:active,
#social .yt .on {
    color:var(--yt);
}

#social .ig a:hover,
#social .ig a:active,
#social .ig .on {
    color: var(--ig);
}

/* MAIN CONTENT */
.content
{
    position: relative;
    grid-area: content;

    /* overflow: auto; */

    /* Subject to change */
    font: 2rem 'Source Serif Pro', serif;
    font-weight: 600;
    line-height: 2.5rem;

    
}

/* For all the tiles -- Individual tiles can be styled, well, individually */
.tiles
{
    height: 92.5vh;
    margin: auto var(--mar);
    margin-left: 0;

    padding: 2.5rem;

    /* border-radius: 2rem; */

    border: 3px dashed rgb(194, 173, 150);

    backdrop-filter: blur(15px); /* Non-standard - Safari only (Looks good though) */

    /* DUE TO THE PRELOADER, THIS MAY NOT SEEM LIKE THE APPARENT DURATION - EXP - RESP */
    /* Causes issues with scrollify */
    /* animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp; */
}

/* .scrolled10 {
    background: pink;
} */

.separator
{
    position: sticky;
    top: 0rem;
    margin: 0.5rem;
    margin-right: 1.5rem; /* Symmetry considerations */
    padding: 0.1rem;

    background: var(--sec0);

    z-index: 10;
    border-radius: 5px;
    border-color: transparent;
}

.in-tile-separator
{
    margin: 0 auto;
    padding: 0.2rem;

    /* background-color: rgb(129, 124, 43); /* Alt to below */
    background-image: /* From css-tricks */
    linear-gradient(
      to right, 
    #009dff,
    #ec2f4b,
    #fd1d1d, #fcb045
    );
    /* border-bottom: 4px dotted rgba(0, 255, 115, 0.822); */
    border-radius: 5px;
    border-style: dotted;
    border-color: transparent;
}

#tile-ttl
{
    text-align: center;

    font-family: Monoton;
    font-size: var(--tile-ttl-font-size);

    color: var(--fg0);

    font-weight: 100;
    margin: 2rem auto;
    padding: 2rem;
}

#events
{
    overflow: hidden;
    max-height: 100vh;

    /* background: var(--events-col); */
}

/* The actual timeline (the vertical ruler) */
.timeline
{
    margin: 0 auto;
    margin-top: 6rem;
    height: var(--timeline-height);

    background: inherit;
    overflow: scroll;
}

.timeline::-webkit-scrollbar
{
    width: 0 !important;
}

/* The dots on the timeline */
.timeline::before
{
    content: '';
    float: left;
    margin: 0 1.5rem;;
    height: var(--timeline-height);
    width: 6px;
    background-color: #890620;
    border-radius: 3px;
    position: sticky;
    top: 0;
    z-index: -99;
    /* margin-left: -3px; */
}

.entry
{
    margin: 2.5rem 5rem;
    margin-top: 0;
    margin-right: 0;

    background-color: var(--sec0);
    
    border: 1px solid #cfab0cf5;
    /* border-radius: 1.5rem; */

    background: inherit;
}

/* Forcing the last element up */
.entry:last-child
{
    margin-bottom: 20rem;
}

/* Circles on the timeline */
.entry::before
{
    content: '';
    /* In case, we decide to put counters, e.g. Year, in the circles */
    /* text-align: center;
    font-size: 1.5rem;
    color: white; */
    float: left;
    width: 3rem;
    height: 3rem;
    margin-left: -5.17rem;
    margin-top: 1.4rem;
    background-color:  #d90368;
    border: 4px solid rgb(228, 162, 162);
    border-radius: 50%;
    /* counter-reset: counter(section); */
}

.entry-title
{
    margin:0;
    padding: 1rem;

    color: white;
    font-family: Gothic_Bold;
    font-weight: 200;
    font-size: 1.5vw;
}

.entry-date
{
    float: right;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}

.entry-detail
{
    margin: 0;
    max-height: 0;
    overflow: hidden;

    background-color: rgba(0, 255, 200, 0.452);
    backdrop-filter: blur(20px);

    /* border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem; */
    
    font-family: Gothic;
    font-size: 2rem;
    font-weight: 200;

    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.entry input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.entry label {
    position: relative;
    display: block;

    margin: 0;
    padding: 1.2rem; 

    /* border-radius: 1.4rem; */
    
    background-color: rgba(0, 238, 255, 0.555);
    
    color: white;
    font-family: Gothic_Bold;
    font-weight: 200;
    font-size: 1.5vw;

    cursor: pointer;
}

.entry label:hover {
    background:rgb(45, 196, 131);
}

/* :checked */
.entry input:checked ~ .entry-detail {
    max-height: 100vh;
}

/* Icon */
.entry label::after {
    position: absolute;
    bottom: 10%;
    right: 48%;
    /* display: block; */

    text-align: center;
     
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

.entry input[type=checkbox] + label::after {
    content: "⮛"; /* EXPERIMENTAL DOWN ARROW */
}

.entry input[type=checkbox]:checked + label::after {
    transform: rotate(540deg);
}

.entry input[type=checkbox]:checked + label {
    border-bottom: 1.5px dotted #cfab0cf5;
}

/* Text in the entry - <p> */
.entry-text {
    float: right;
    margin: 1rem;
}

/* Any image in the entry - <img> */
.entry-image {
    float: left;
    margin: 1rem;
}

#team
{
    height: auto; /* Overrides .tiles */

    /* background: var(--team-col); */
}

.fic
{
    display: grid;
    grid-template-areas:
        "fic-words fic-image";
    
    grid-template-columns: 65% 35%;
    grid-row-gap: 5rem;
    margin-top: 9vh;
}

.fic-image
{

    grid-area: fic-image;

    margin: 6rem auto;

    text-align: center;
}

.fic-image img
{
    margin: 0 auto;

    width: 16vw;
    height: 18vw;

    border-radius: 2rem;
    /*box-shadow: 0 0 20px 0px rgba(213, 202, 155, 0.938);*/
}

.fic-words
{
    grid-area: fic-words;
    padding: 5rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;

    /* background: linear-gradient(
        to right,
        rgba(255, 81, 0, 0.5),
        rgba(0, 102, 255, 0.5)
    ); */

    text-align: right;
    color: white;
    font-family: Gothic_Bold ;
    font-weight: 100;
    font-size: 2rem;
}

.fic-name
{
    display: grid;
    margin: 0 auto;

    /* background: linear-gradient(
    to right,
        rgba(255, 136, 0, 0.68),
        rgba(255, 255, 0, 0.68),
        rgba(10, 184, 10, 0.68)
    ); */
    
    color: var(--sec0)/*rgb(13, 113, 228)*/;
	font-family: Helvetica, sans-serif;
	font-weight: 600;
    
    font-size: 2.25rem;
    
    border-radius: 5px;
}

.group
{
    display: grid;
    grid-template-areas:
        "person1 person2 person3 person4 person5";
    
    grid-row-gap: 5rem;
    margin: 4vh auto;
}

.person
{
    width: var(--width-person);
    height: var(--height-person);

    margin: 6rem auto;
    margin-top: 0;

    text-align: center;

    transition: 0.3s ease;
}

.person-details
{
    position: relative;
    top: -13.5rem;

    opacity: 0;
    margin: 0 1.75rem;

    color: aliceblue;
    font-size: 5rem;

    z-index: 10;

    transition: all 0.2s ease;
    
    
    font-size: 2.5vw; /* EXPERIMENTAL - RESP */
}

.person-filter
{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 2px solid var(--person-border-color);

    transition: 0.3s ease;
}

.person-name
{
    display: grid;
    margin: 1rem auto;
    margin-top: -4rem;

    /* background: linear-gradient(
    to right,
        rgba(255, 136, 0, 0.68),
        rgba(255, 255, 0, 0.68),
        rgba(10, 184, 10, 0.68)
    ); */
    
    color: var(--sec0);
	font-family: Helvetica, sans-serif;
	font-weight: 600;
    font-size: 2.25rem;

    border-radius: 5px;
}

#person-dgn
{
    /* margin: 0 auto; */
    margin-top: 0.25rem;
    padding-top: 0.25rem;

    color: white;
    /* font-family: cent */
    font-size: 2rem;
    /* font-style: italic; */
    font-weight: 500;

    /* border-top: 2px dashed rgb(0, 110, 255); */
}


.person:hover .person-filter
{
    filter: blur(6px);
}

.person:hover a
{
    opacity: 1;
}

.fb:hover
{
    opacity: 1;
    color: var(--fb); /* Actual FB Logo Color */
}

.insta:hover
{
    opacity: 1;
    color: var(--ig); /* Actual Insta Logo Color - Just the Reddish Pink */
}

.yt:hover
{
    opacity: 1;
    color: var(--yt); /* Actual YT Logo Color */
}

#gallery
{
    text-align: center;

    /* background: var(--gallery-col); */
}

/* The Carousel */
.partialViewSlider-outerwrapper{
    position: relative;
    padding: 8rem 6rem;
}
.partialViewSlider-outerwrapper.partialViewSlider-outsideControls{
    padding: 0 6%;
}
.partialViewSlider-wrapper{
    overflow: hidden;
    font-size: 0;
    position: relative;
}
.partialViewSlider-outerwrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
    transition-property: transform;
    transition-duration: 0ms;
    transition-timing-function: ease-out;
}
.partialViewSlider-outerwrapper ul > li{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    transition-property: all;
    transition-duration: 0ms;
    transition-timing-function: ease-out;
}
.partialViewSlider-wrapper.partialViewSlider-perspective ul > li{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.4;
}
.partialViewSlider-wrapper.partialViewSlider-perspective ul > li.active{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.partialViewSlider-wrapper ul > li > img{
    width: 100%;
    display: block;
}
.partialViewSlider-backdrop{
    position: absolute;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.partialViewSlider-backdrop.partialViewSlider-right{
    right: 0;
}

.partialViewSlider-nav{
    position: absolute;
    top: 50%;
    color: #FFF;
    font-size: 3rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.partialViewSlider-prev{
    left: 10%;
}
.partialViewSlider-next{
    right: 10%;
}
.partialViewSlider-outsideControls .partialViewSlider-nav,
.partialViewSlider-neighborControls .partialViewSlider-nav{
    color: #CCC;
}
.partialViewSlider-outsideControls .partialViewSlider-prev{
    left: 1%;
}
.partialViewSlider-outsideControls .partialViewSlider-next{
    right: 1%;
}
.partialViewSlider-neighborControls .partialViewSlider-prev{
    left: -5%;
}
.partialViewSlider-neighborControls .partialViewSlider-next{
    right: -5%;
}

.partialViewSlider-dots {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}
.partialViewSlider-dots li a{
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 5px;
}
.partialViewSlider-dots li a:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    border-radius: 50%;
    transition: all 0.25s ease-out;
}
.partialViewSlider-dots li.active a:before{
    background: #FFF;
}

/* For Responsiveness: Media Rules */
/* @media screen and (max-width: 1366px)
{
    
}

@media screen and (max-width: 960px)
{
    
}

@media screen and (max-width: 640px)
{
    :root
    {
        --mar: 0.5rem;
    }
    body
    {
        grid-column-gap: 0.2rem;
        grid-row-gap: 0.8rem;
    }
    #ttl
    {
        font-size: 4.5rem;
    }
    #nav
    {
        width: 7rem;
    }
    .navicons
    {
        width: 4rem;
        padding: 1rem 0.76rem;
    }
    .nav-links
    {
        font-size: 4rem;
    }
    .nav-links:hover .revealed
    {
        display: block;
        margin-top: 0.5rem;
        line-height: 3.8rem;
    }
}

@media screen and (max-width: 360px)
{
    #logo
    {
        width: 8rem;
    }
    #ttl
    {
        font-size: 4rem;
    }
} */

.ml1 {
    /* grid-area: content; */
    font-weight: 900;
    font-size: 3.5em;

    /* margin: 0 auto; */
    background-color: red;
    z-index: 30;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

 .pre-loader {
    animation: bcol 0.95s step-end;
    background-color: var(--sec1);
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.typewriter {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.typewriter h1 {
  overflow: hidden; 
  border-right: .15em solid white; 
  width: fit-content;
  width: -webkit-fit-content;
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em;
  font-size: 4rem;
  color: white;
  text-align: center;
  animation: 
    typing 1.9s ease-out, /*steps(45, end),*/ /* Change the timing to your liking - N.B.: larger font-size implies longer rendering time */
    blink-caret .5s step-end infinite;
}

@keyframes bcol {
  from {
    background: black;
  }
  to {
    background: pink;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0;
  }
  to { width: 115rem;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

/* For the fadeInUp effect */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }


/* The embedded iframe (Google Form) */
/* .gform {
    margin: 0;
    margin-top: 6rem;
    margin-bottom: 3rem;
    float: right;
    width: 40%;
    height: 75vh; */
    /* overflow-x: hidden;  */
    /* Doesn't work properly yet */
/* } */

/* For the "Connect With Us" Tile */
.connect {
    display: grid;
    grid-template-areas:
        "details spic";

    grid-column-gap: 5rem;
    grid-template-columns: 70% 25%;

    margin: 8rem auto;
    height: 80%;

    color: white;
}

.contact-details {
    grid-area: details;

    border-right: 2px inset red;

    text-align: center;
    align-content: center;
}

#contact-logo {
    margin: 3rem auto;
    margin-bottom: 2rem;
    width: 10rem;
    border-radius: 50%;
}

#contact-ttl {
    margin: 2rem auto;

    color: var(--ttl-color);
    font-family: Rubik, serif;
    font-size: 6rem;
    font-weight: 500;
    line-height: 6rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);
}

#niser-logo {
    width: 18rem;
    border-radius: 50%;
}

.mailing-address {
    margin: 5rem 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 4rem;
    text-align: center;
}

.mailing-address a {
    color: white;
    text-decoration: underline dotted palegoldenrod !important;
}

.follow-us {
    font-size: 6rem;
}

.follow-us a {
    color: white;
    margin: 2rem;
}

.follow-us a i {
    transition: 0.6s;
}

.mail:hover {
    color: var(--mail-col);
}

.whatsapp:hover {
    color: var(--whatsapp-col);
}

/* .cont-sep {
    width: 96%;
    margin: 6rem auto;
} */

.spic
{
    padding: 2rem;
    /* height: 100%; */

    /* padding-top: 0; */

    /* color: darkkhaki;
    font-family: cursive;
    font-weight: 100;
    font-size: 1.8rem; */

    text-align: center;
}

.spic-link
{
    grid-area: spic;
    width: 10rem;
}

.spic-logo
{
    background: pink;
    /* border: 2px inset red; */
    /* border-radius: 8px; */

    width: 10rem;

    transition: all 0.5s ease; 
}

.spic-logo:hover
{
    transform: scale(1.1);
}