:root
{
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-sizing: border-box;

    /* COMMON */
    --tile-ttl-font-size: 8rem;
    --ttl-color: white;


    /* SIDEBAR */
    --side-width: 10rem;
    --logowidth: 7.2rem;
    --nav-link-icon-font-size: 3.5rem;
    

    /* LANDING */
    --main-ttl-font-size: 13rem;
    --landing-bg-col: #d4b89b;
    --blockquote-quotes-col: #96cb7f;


    /* EVENTS */
    --events-bg-col: #9bc0ff;
    --entry-title-font-size: 3.5rem;
    --entry-text-font-size: 2.25rem;
    /* --entry-date-font-size: 2.8rem; */

    --timeline-height: 88%;

    /* GALLERY */
    --gallery-bg-col: #ff847e;
    --carousel-height: 55%;
    --carousel-width: 55%;

    /* FIC */
    --fic-bg-col: #be9bff;
    --fic-text-font-size: 2.5rem;
    --fic-image-size: 32rem;

    /* MEMBERS */
    --members-bg-col: #97e0d4;
    --width-person: 24rem;
    --height-person: 24rem;
    --person-details-font-size: 4rem;
    --person-border-color: white;

    /* CONTACT */
    --contact-bg-col: #99dd9b;
    --contact-ttl-font-size: 6rem;


    /* Text Shadow Colors */
    --text-shadow-default: rgb(185, 139, 79);
    
    /* Colors (Spandan) */
    --col0: #9bc0ff;
    --col1: #ff847e;
    --col2: #99dd9b;
    --col3: #f8c28d;
    --col4: #d4b89b;
    --col5: #f9df82;
    --col6: #97e0d4;
    --col7: #be9bff;
    --col8: #b2b7be;

    --bg: #000;
    --fg0: white;
    --fg1: #da9f93;
    --sec0: #d90368;
    --sec1: #F47983; /* #890620; */
    --sec2: #96cb7f;

    --fb: #3b5998;
    --yt: red;
    --ig: #fb3958;
    --mail-col: rgb(0, 120, 212);
    --whatsapp-col: rgb(0, 230, 118);

    scroll-behavior: smooth;
    /* overflow-x: hidden; */ /* FIXES THE CLIPPING ISSUE (IT'S NOT CLIPPING ANYWAY) - BUT MAKES HORIZONTAL SCROLLING INPOSSIBLE - RESP */
}

@font-face {
    font-family: Music;
    src: url('../fonts/AlphaMusicMan.ttf');
}

@font-face {
    font-family: Gothic;
    src: url('../fonts/century.ttf');
}

@font-face {
    font-family: Gothic_Bold;
    src: url('../fonts/centuryb.ttf');
}

body
{
    background: black center/cover no-repeat fixed;
    margin: 0;

    color: white; /* Default Text Colour */

    /* display: grid;
    grid-template-areas:
        "side content"
        "side content"
        "side content";

    grid-template-columns: minmax(8rem, 18rem) 92%;

    grid-row-gap: 1.5rem;
    grid-column-gap: 0; */

    /* To match up the transition with div.backgroundimagehack */
    transition: all 1s ease;
}

/* Hiding the scrollbar on the page */
body::-webkit-scrollbar {
    width: 0 !important;
}

a:hover, a:link, a:active, a:any-link, a:visited
{
    text-decoration: none !important;
}

ul
{
    padding: 0;
    list-style-type: none;
}

#side {
    background: transparent;
    /* grid-area: side; */
    position: sticky;
    top: 5%;
    float: left;
    width: var(--side-width);
    height: 100vh;

    text-align: center;

    z-index: 10;

    /* backdrop-filter: blur(20px); */
}

/* LOGO Image */
#logo-link
{
    display: block;
    position: sticky;
    top: 3rem;
    margin: 3rem auto;
    max-width: var(--logowidth);
    border-radius: 50%;
}

#logo
{
    max-width: var(--logowidth);
    border-radius: 50%;
    transition: 0.3s ease;
}

#logo:hover
{
    transform: scale(1.2);
}

#nav
{
    position: sticky;
    top: 32vh;

    margin: 2rem 0;

    line-height: 8vh;
    text-align: center;
}

.nav-links
{
    font-size: var(--nav-link-icon-font-size);
    color: var(--fg0);

    margin: 0;
    padding: 0;

    transition: 0.2s ease;
}

.navicon
{
    transition: 0.35s ease;
}

.navicon:hover
{
    transform: scale(1.5);
    color: rgb(244, 121, 131);
    /* animation: perturbed 0.4s alternate ease-in-out infinite; */
}

footer
{
    position: sticky;
    /* top: calc(92rem - 5rem); *** */
    top: 88vh;
    margin: 0 var(--tiles-margin);
    margin-bottom: 2rem;
    padding: 1.4rem;

    /* background-color: pink; */
    border-radius: 5px;

    color: white;
    font: bold 1.5rem Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 2.2rem;
}

#selfref
{
    color: white;
    border-bottom: 1.5px dotted rgb(125, 165, 61);
}

/* THE TITLE */
#landing
{
    background-color: var(--landing-bg-col);
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    text-align: right;

    color: aliceblue;
}

.intro > * {
  flex: 1;
}

/* #fshack {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #d4b89b;
    z-index: -1;
    transition: all 1s ease;
}

.backgroundimagehack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d4b89b url('../images/backgrounds/webp/madam.webp') center/cover no-repeat fixed;
    z-index: -1;
    transition: all 1s ease;
} */

h1 {
    margin-top: 10rem;
    text-align: center;
}

h1 #ttl
{
    color: var(--ttl-color);
    font-family: Music, serif;
    font-size: var(--main-ttl-font-size);
    font-weight: 500;

    text-shadow: 0px 0px 3px indianred;
    transition: 0.3s ease;

    line-height: 7.5rem;

    text-align: center;
}

blockquote {
    margin: 4rem auto;
    font-size: 2.5rem;
    width: 80rem;
    float: left;
    color: white;
    font-family: Gothic, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* From: https://stackoverflow.com/questions/16325687/make-big-quotes-with-blockquote */
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before
{
    position: relative;
    top: 1.8rem;
    color: var(--blockquote-quotes-col);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    line-height: 1;
    
    content: "\201C";
}

blockquote:after
{
    position: relative;
    top: 3.2rem;
    color: var(--blockquote-quotes-col);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    line-height: 1;
    content: "\201D";
}

#landing #social {
    display: flex;
    position: relative;
    justify-content: center;
}

#landing #social li {
    display: inline-block;
    font-size: 8rem;
    width: 2rem;
    margin: 0 5rem;
    justify-content: center;
}

.social-icons::after {
    content: '';
    color: white;
    /* rgb(226, 37, 219) */
    float: right;
    margin: 0 auto;
    height: 6rem;
    width: 6px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    right: -3rem;
    top: -7rem;
}

.ig {
    position: relative;
    right: -2.5rem;
}

#social a:link,
#social a:visited,
#social a:focus
{
    color: white;
    opacity: 0.5;
    /* filter: blur(1px); */
    transition: 0.4s ease;
}

#social a:hover,
#social a:active,
#social a.on {
    opacity: 1;
    filter: unset;
}

#social .fb a:hover,
#social .fb a:active,
#social .fb .on {
    color: var(--fb);
}

#social .yt a:hover,
#social .yt a:active,
#social .yt .on {
    color:var(--yt);
}

#social .ig a:hover,
#social .ig a:active,
#social .ig .on {
    color: var(--ig);
}

/* MAIN CONTENT */
.content
{
    /* position: relative; */
    /* grid-area: content; */

    /* margin-left: var(--side-width); */
    /* overflow: auto; */

    /* Subject to change */
    font: 2rem 'Source Serif Pro', serif;
    font-weight: 600;
    line-height: 2.5rem;
}

/* For all the tiles -- Individual tiles can be styled, well, individually */
.tiles
{
    min-height: 100vh;
    margin: 0;

    /* margin-left: 0; */

    /* padding: 2.5rem; */

    /* border-radius: 2rem; */

    /* border: 3px dashed rgb(194, 173, 150); */

    /* backdrop-filter: blur(15px); */

    /* DUE TO THE PRELOADER, THIS MAY NOT SEEM LIKE THE APPARENT DURATION - EXP - RESP */
    /* Causes issues with scrollify */
    /* animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp; */
}

.tile-ttl
{
    text-align: center;

    font-family: Gothic_Bold, sans-serif;
    font-size: var(--tile-ttl-font-size);
    text-transform: uppercase;

    /* font-weight: 100; */
    padding: 12rem 0 4rem 0;

    line-height: 5.5rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);
}

#events
{
    background-color: var(--events-bg-col);
    overflow: hidden;

    padding: 2rem;

    padding-left: var(--side-width);
}

/* The actual timeline (the vertical ruler) */
.timeline
{
    margin: 0 auto;
    margin-top: 15rem;

    background: inherit;
    overflow: hidden;
}

.timeline::-webkit-scrollbar
{
    width: 0 !important;
}

.entry
{
    margin: 2.5rem 5rem;
}

/* Forcing the last element up */
.entry:last-child
{
    margin-bottom: 20rem;
}

/* Circles on the timeline */
/* .entry::before
{ */
    /* content: ''; */
    /* In case, we decide to put counters, e.g. Year, in the circles */
    /* text-align: center;
    font-size: 1.5rem;
    color: white; */
    /* float: left;
    width: 3rem;
    height: 3rem;
    margin-left: -5.17rem;
    margin-top: 1.4rem;
    background-color:  #d90368;
    border: 4px solid rgb(228, 162, 162);
    border-radius: 50%; */
    /* counter-reset: counter(section); */
/* } */

.entry-title
{
    margin: 0 2rem;
    padding: 1rem;

    color: white;
    font-family: Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: var(--entry-title-font-size);
}

/* .entry-date
{
    float: right;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--entry-date-font-size);
} */

.entry-detail
{
    margin: 0;
    max-height: 0;
    overflow: hidden;

    /* background-color: rgba(0, 255, 200, 0.452);
    backdrop-filter: blur(20px); */

    /* border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem; */
    
    font-family: Gothic, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--entry-text-font-size);
    font-weight: 200;

    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.entry input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.entry label {
    position: relative;
    display: block;

    margin: 0;
    padding: 2rem; 

    /* border-radius: 1.4rem; */
    
    /* background-color: rgba(0, 238, 255, 0.555); */
    
    color: white;
    font-family: Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: var(--entry-title-font-size);

    cursor: pointer;
}

.entry label:hover {
    background: rgba(45, 196, 131, 0.7);
}

/* :checked */
.entry input:checked ~ .entry-detail {
    max-height: 100vh;
}

/* Icon */
.entry label::after {
    position: absolute;
    left: 1.5rem;
    /* display: block; */

    text-align: center;
     
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

.entry input[type=checkbox] + label::after {
    content: "⮚"; /* EXPERIMENTAL DOWN ARROW \02C5 */
    position: absolute;
    bottom: 35.5%;
}

.entry input[type=checkbox]:checked + label::after {
    transform: rotate(450deg);
}

.entry input[type=checkbox]:checked + label {
    background: rgba(45, 196, 131, 1);
}

/* Text in the entry - <p> */
.entry-text {
    text-align: justify;
    margin: 2rem auto;
}

/* Any image in the entry - <img> */
.entry-image {
    float: left;
    margin: 3rem;
}

/* Selective Styling of Entry-Images */
.entry-spic {
    width: 25rem;
    height: 15rem;
}

.entry-def {
    width: 25rem;
    height: 15rem;
}
/* Selective Styling of Entry-Images -- ENDS HERE */

/* GALLERY */
#gallery
{
    background-color: var(--gallery-bg-col);
}

#members
{
    background-color: var(--members-bg-col);
    /* Delete the line, below, to make scrollify work perfectly, but wreck the layout (if there are > 10 people) and vice-versa */
    /* height: auto; */

    text-align: center;
}

#fic
{
    background-color: var(--fic-bg-col);
}

.fic-container
{
    display: grid;
    grid-template-areas:
        "fic-image fic-words";
    
    grid-template-columns: 50% 50%;
    margin-top: 15vh;
}

.fic-image
{
    grid-area: fic-image;
    padding: 6rem auto;
    text-align: center;

    border-right: white 0.2rem solid;
}

.fic-image img
{
    margin: 0 auto;

    width: var(--fic-image-size);
    height: var(--fic-image-size);

    border-radius: 50%;
}

.fic-words
{
    grid-area: fic-words;
    padding: 4rem;
    margin: 4rem;

    color: white;
    font-family: Rubik, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--fic-text-font-size);
    text-align: justify;
}

.fic-name
{
    display: grid;
    margin: 0 auto;
    
    color: var(--sec0);
	font-family: Helvetica, sans-serif;
	font-weight: 600;
    
    font-size: 2.25rem;
    
    border-radius: 5px;
}

.group
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 2rem auto;
}

.person
{
    width: var(--width-person);
    height: var(--height-person);

    margin: 5rem 4.7rem;

    transition: 0.3s ease;
}

.person-details
{
    position: relative;
    top: -13.5rem;

    opacity: 0;
    margin: 0 1.75rem;

    color: aliceblue;
    font-size: 5rem;

    z-index: 10;

    transition: all 0.2s ease;
    
    
    font-size: var(--person-details-font-size);
}

.person-filter
{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 2px solid var(--person-border-color);

    transition: 0.3s ease;
}

.person-name
{
    display: grid;
    margin: 1rem auto;
    margin-top: -4rem;
    
    color: var(--sec0);
	font-family: Helvetica, sans-serif;
	font-weight: 600;
    font-size: 2.25rem;

    border-radius: 5px;
}

#person-dgn
{
    /* margin: 0 auto; */
    margin-top: 0.25rem;
    padding-top: 0.25rem;

    color: white;
    /* font-family: cent */
    font-size: 2rem;
    /* font-style: italic; */
    font-weight: 500;

    /* border-top: 2px dashed rgb(0, 110, 255); */
}


.person:hover .person-filter
{
    filter: blur(6px);
}

.person:hover a
{
    opacity: 1;
}

.fb:hover
{
    opacity: 1;
    color: var(--fb); /* Actual FB Logo Color */
}

.insta:hover
{
    opacity: 1;
    color: var(--ig); /* Actual Insta Logo Color - Just the Reddish Pink */
}

.yt:hover
{
    opacity: 1;
    color: var(--yt); /* Actual YT Logo Color */
}

#contact
{
    background-color: var(--contact-bg-col);
}

.connect {
    /* display: grid;
    grid-template-areas:
        "details spic";

    grid-column-gap: 5rem;
    grid-template-columns: 70% 25%; */

    margin: 6rem;
    /* height: 80%; */

    color: white;
}

.contact-details {
    /* grid-area: details; */
    text-align: center;
}

#contact-logo {
    margin: 3rem auto;
    margin-bottom: 1.5rem;
    width: 10rem;
    border-radius: 50%;
}

#contact-ttl {
    margin: 2rem auto;

    color: var(--ttl-color);
    font-family: Rubik, serif;
    font-size: var(--contact-ttl-font-size);
    font-weight: 500;
    line-height: 6rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);
}

#niser-logo {
    margin-bottom: 2rem;
    width: 18rem;
    border-radius: 50%;
}

.mailing-address {
    margin: 5rem 0;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 5rem;
    text-align: center;
}

.mailing-address a {
    color: white;
    text-decoration: underline dotted palegoldenrod !important;
}

.follow-us {
    font-size: 6rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.follow-us a {
    color: white;
    margin: 1rem 2rem;
}

.follow-us a i {
    transition: 0.6s;
}

.mail:hover {
    color: var(--mail-col);
}

.whatsapp:hover {
    color: var(--whatsapp-col);
}

/* CAUTION - COMMENT GRAVEYARD AHEAD */

/* .cont-sep {
    width: 96%;
    margin: 6rem auto;
} */

/* .spic
{
    padding: 2rem; */
    /* height: 100%; */

    /* padding-top: 0; */

    /* color: darkkhaki;
    font-family: cursive;
    font-weight: 100;
    font-size: 1.8rem; */
/* 
    text-align: center;
} */

/* .spic-link
{
    grid-area: spic;
    width: 10rem;
} */

/* .spic-logo
{
    background: pink; */
    /* border: 2px inset red; */
    /* border-radius: 8px; */

    /* width: 10rem;

    transition: all 0.5s ease; 
} */

/* .spic-logo:hover
{
    transform: scale(1.1);
} */

/* Media Rules */

/* @media screen and (min-width: 960px) and (max-width: 1875px)
{

} */

/* @media screen and (min-width: 960px) and (max-width: 1124px)
{
  
} */

@media screen and (max-width: 1230px)
{
    :root {
        --main-ttl-font-size: 9rem;
        --tile-ttl-font-size: 7rem;
    }
    body {
        grid-template-columns: minmax(8rem, 12rem) 90%;
    }
    /* #contact-logo {
        margin: 0;
        width: 8rem;
        border-radius: 50%;
    } */
    /* #contact-ttl {
        margin: 0;
        line-height: 4rem;
    } */
    /* #niser-logo {
        margin: 1rem;
        width: 14rem;
        border-radius: 50%;
    } */
    .mailing-address {
        margin: 0;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        line-height: 4rem;
    }
     
}

@media screen and (max-width: 1024px)
{
    :root {
        --main-ttl-font-size: 8rem;
        --tile-ttl-font-size: 6rem;

        --entry-title-font-size: 3rem;
        --entry-date-font-size: 2.6rem;

        --contact-ttl-font-size: 5rem;
    }
    blockquote {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 840px)
{
    :root {
        --main-ttl-font-size: 8rem;
        --tile-ttl-font-size: 6rem;

        --entry-title-font-size: 3rem;

        --width-person: 20rem;
        --height-person: 20rem;
    }
    body {
        grid-template-columns: minmax(8rem, 12rem) 88%;
    }
    .entry-date {
        display: none;
    }
    .entry label::after {
        position: absolute;
        top: 33.5%;
        right: 12%;
    }
    .partialViewSlider-outerwrapper {
        padding: 18rem 0;
    }
    .partialViewSlider-dots {
        position: absolute;
        bottom: 15rem;
    }
    .partialViewSlider-wrapper ul > li > img{
        height: 25vh;
    }
    .partialViewSlider-prev{
        left: 5%;
    }
    .partialViewSlider-next{
        right: 5%;
    }
    #contact-logo {
        margin: 0;
    }
    #contact-ttl {
        margin: 0;
    }
    #niser-logo {
        margin: 1rem;
    }
    .mailing-address {
        margin: 0;
        margin-bottom: 2rem;
    }
    .follow-us {
        font-size: 4.75rem;
    }
    blockquote {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 690px)
{
    :root {
        --main-ttl-font-size: 6.5rem;
        --tile-ttl-font-size: 5rem;

        --entry-title-font-size: 2.7rem;

        --contact-ttl-font-size: 3.5rem;

        --timeline-height: 90%;
    }
    body {
        grid-template-columns: minmax(8rem, 18rem) 84%;
    }
    /* blockquote {
        font-size: 1.6rem;
    } */
    .tile-ttl {
        padding: 0rem;
    }
    #landing {
        text-align: center;
    }
    #landing #social {
        justify-content: center;
        position: relative;
        right: 0;
    }
    #landing #social li {
        font-size: 4.5rem;
        margin: 0 3rem;
    }
    .social-icons::after {
        height: 6rem;
        width: 6px;
        position: relative;
        right: -2.4rem;
        top: -5.5rem;
    }
    .ig {
        position: relative;
        right: -1.4rem;
    }
    .timeline {
        margin-top: 7rem;
    }
    #contact-logo {
        width: 8rem;
        border-radius: 50%;
    }
    #contact-ttl {
        line-height: 4rem;
    }
    #niser-logo {
        width: 14rem;
        border-radius: 50%;
    }
    .mailing-address {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

/* @media screen and (max-width: 415px)
{

} */

/* For phones (portrait) */
/* @media screen and (max-height: 880px)
{

} */
/* For phones (landscape) */
/* @media screen and (max-height: 415px)
{

} */

