:root
{
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-sizing: border-box;

    /* COMMON */
    /* AFFECTS: All Tile Titles */
    --tile-ttl-font-family: Gothic_Bold, sans-serif;
    --tile-ttl-font-size: 8rem;
    /* AFFECTS: In-tile Title in Contact Tile */
    --in-tile-ttl-font-family: Gothic_Bold, sans-serif;
    --in-tile-ttl-font-size: 4rem;
    /* AFFECTS: In-tile vertical separator in FIC and Contact Tiles */
    --in-tile-vert-sep-col: #FFFBDD;
    /* AFFECTS: Entry-Text in Events Tile | Text in FIC Tile | Text in Contact Tile */
    --in-tile-text-font-family: Gothic, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --in-tile-text-font-size: 2.5rem;
    --in-tile-text-events-font-size: 3rem;    /* MAIN TITLE/HEADER COLOR */
    --ttl-color: white;

    --link-underline-col: palegoldenrod;


    /* SIDEBAR */
    --side-width: 16rem;
    --logowidth: 8rem;
    --nav-link-icon-font-size: 4rem;
    

    /* LANDING */
    --landing-blur: 10px;
    --main-ttl-font-size: 12rem;
    --landing-link-font-size: 2.5rem;
    --landing-bg-col: #d4b89b;
    --blockquote-quotes-col: #96cb7f;


    /* EVENTS */
    --events-padding: 2rem;
    --events-bg-col: #9bc0ff;
    --entry-title-font-family: Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --entry-title-font-size: 3.5rem;
    --entry-text-font-size: 2.5rem;

    /* GALLERY */
    --gallery-bg-col: #ff847e;
    --gallery-pic-width: 40vw;
    --gallery-pic-num: 8; /* CHANGE TO THE CURRENT NUMBER */

    /* FIC */
    --fic-bg-col: #be9bff;
    --fic-image-size: 28rem;
    --fic-name-col: white;

    /* MEMBERS */
    --members-bg-col: #97e0d4;
    --members-pic-size: 18rem;
    --person-details-font-size: 4rem;
    --person-border-color: white;
    --person-name-font-size: 2.5rem; /* AFFECT FIC NAME TOO */
    --person-dgn-font-size: 2.2rem; /* AFFECT FIC DGN TOO */

    /* CONTACT */
    --address-font-family: inherit;
    --contact-bg-col: #99dd9b;


    /* Text Shadow Colors */
    --text-shadow-default: rgb(185, 139, 79);
    
    /* Colors (Spandan) */
    --col0: #9bc0ff;
    --col1: #ff847e;
    --col2: #99dd9b;
    --col3: #f8c28d;
    --col4: #d4b89b;
    --col5: #f9df82;
    --col6: #97e0d4;
    --col7: #be9bff;
    --col8: #b2b7be;

    --bg: #000;
    --fg0: white;
    --fg1: #da9f93;
    --sec0: #d90368;
    --sec1: #F47983; /* #890620; */
    --sec2: #96cb7f;

    --fb: #3b5998;
    --yt: red;
    --ig: #fb3958;
    --mail-col: rgb(0, 120, 212);
    --whatsapp-col: rgb(0, 230, 118);

    scroll-behavior: smooth;
    /* overflow-x: hidden; */ /* FIXES THE CLIPPING ISSUE (IT'S NOT CLIPPING ANYWAY) - BUT MAKES HORIZONTAL SCROLLING INPOSSIBLE - RESP */
}

@font-face {
    font-family: Source;
    src: url('../fonts/SourceSandPro.ttf');
}

@font-face {
    font-family: Source_Bold;
    src: url('../fonts/SourceSandPro-Bold.ttf');
}

@font-face {
    font-family: Gothic;
    src: url('../fonts/century.ttf');
}

@font-face {
    font-family: Gothic_Bold;
    src: url('../fonts/centuryb.ttf');
}

@font-face {
    font-family: Athelas;
    src: url('../fonts/Athelas-Regular.ttf');
}

@font-face {
    font-family: Pecita;
    src: url('../fonts/Pecita.otf');
}

body
{
    background: url('../images/backgrounds/landing-bg.jpg') center/cover no-repeat fixed;
    margin: 0;

    color: white; /* Default Text Colour */

    /* To match up the transition with div.backgroundimagehack */
    transition: all 0.75s ease;
}

/* Hiding the scrollbar on the page */
body::-webkit-scrollbar {
    width: 0 !important;
}

a:hover, a:link, a:active, a:any-link, a:visited {
    color: white;
    text-decoration: none !important;
    outline: 0;
    -moz-outline-style: none;
    outline-style: none;
}

ul
{
    padding: 0;
    list-style-type: none;
}

/* MAKING IMAGES NON-SELECTABLE/DRAGGABLE */
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* FOR .backgroundimagehack */
.blurimage {
    filter: blur(var(--landing-blur));
}

.backgroundimagehack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black url('../images/backgrounds/landing-bg.jpg') center/cover no-repeat fixed;
    z-index: -1;
    transition: all 0.75s ease;
}
/* FOR .backgroundimagehack -- ENDS HERE */

/* .content {
    scroll-snap-type: y mandatory;
}

.scrollify-section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
} */

#side {
    background: transparent;
    position: sticky;
    top: 5%;
    float: left;
    width: var(--side-width);
    height: 100vh;

    text-align: center;

    z-index: 10;

    transition: all 0.6s ease;

    /* border: 2px red solid; */ /* FOR DEBUGGING */
}

/* LOGO Image */
#logo-link {
    display: block;
    position: sticky;
    top: 8rem;
    margin: 3rem auto;
    max-width: var(--logowidth);
    border-radius: 50%;
}

#logo {
    max-width: var(--logowidth);
    border-radius: 50%;
    transition: 0.3s ease;
}

#logo:hover {
    transform: scale(1.1);
}

#nav {
    position: sticky;
    top: 27vh; /* PREV: 32vh */

    margin: 2rem 0;

    line-height: 8vh;
    text-align: center;
}

.nav-links
{
    font-size: var(--nav-link-icon-font-size);
    color: var(--nav-link-col);

    margin: 0;
    padding: 0;

    transition: 0.2s ease;
}

.navicon
{
    width: 4rem;
    height: 4rem;

    color: white;
    margin: 1.5rem;
    padding: 1.75rem;

    transition: 0.4s ease;
}

.navicon:hover
{
    transform: scale(1.2);
}

footer
{
    position: sticky;
    top: 88vh;
    margin: 0 var(--tiles-margin);
    margin-bottom: 2rem;
    padding: 1.4rem;

    color: white;
    font: bold 1.5rem Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 2.2rem;
}

#selfref
{
    color: white;
    border-bottom: 1.5px dotted rgb(125, 165, 61);
}

/* THE TITLE */
#landing
{
    background: transparent;
    z-index: 2;
    /* background: url('../images/backgrounds/landing-bg.jpg') center/cover no-repeat fixed; */
    /* filter: blur(2px); */
    /* backdrop-filter: blur(20px); */
    /* background-color: var(--landing-bg-col); */

}

#landing #landing-links {
    float: right;
}

#landing #landing-links li {
    display: inline-block;

    font-family: Rubik;
    font-size: var(--landing-link-font-size);

    margin: 3rem 0;
    margin-right: 5.5rem;
    padding: 1rem;
}

/* Initial Load Transition */
#landing-links, #ttl, #social, blockquote {
    transition: all 0.6s ease;
}

.contact-us {
    border: 2px white solid;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    text-align: right;

    color: aliceblue;
    z-index: 2;
}

.intro > * {
  flex: 1;
}

/* #fshack {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #d4b89b;
    z-index: -1;
    transition: all 1s ease;
} */

h1 {
    margin: 6vh auto 0 auto;
    text-align: center;
}

h1 #ttl
{
    color: var(--ttl-color);
    font-family: 'Pecita', sans-serif;
    font-size: var(--main-ttl-font-size);
    font-weight: 500;

    text-shadow: 0px 0px 3px indianred;
    transition: 0.3s ease;

    line-height: 7.5rem;

    text-align: center;
}

blockquote {
    position: absolute;
    bottom: 3rem;
    /* width: 80rem; */

    color: white;
    font-family: 'Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;    
}
/* From: https://stackoverflow.com/questions/16325687/make-big-quotes-with-blockquote */
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before
{
    position: relative;
    /*top: 1.8rem;*/
    top: 2.3rem;
    color: var(--blockquote-quotes-col);
    font-family: Athelas, sans-serif;
    font-size: 6rem;
    line-height: 1;
    /*content: "\201C";*/
    content: "\2018";
}

blockquote:after
{
    position: relative;
    /*top: 3.8rem;*/
    top: 3.0rem;
    color: var(--blockquote-quotes-col);

    font-family: Athelas, sans-serif;
    font-size: 6rem;
    line-height: 1;
    /*content: "\201D";*/
    content: "\2019";
}

#landing #social {
    position: relative;
    right: 18.5vw;
    top: -12rem;
}

#landing #social li {
    display: inline-block;

    font-size: 8rem;
    width: 2rem;
    margin: 0 5rem;
    justify-content: center;
}

.social-icons::after {
    content: '';
    color: white;
    /* rgb(226, 37, 219) */
    float: right;
    margin: 0 auto;
    height: 6rem;
    width: 6px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    right: -3rem;
    top: -7rem;
}

/* .yt {
    position: relative;
    right: -2.5rem;
} */

#social a:link,
#social a:visited,
#social a:focus
{
    color: white;
    opacity: 1;
    /* filter: blur(1px); */
    transition: 0.75s ease;
}

#social a:hover,
#social a:active,
#social a.on {
    opacity: 0.8;
    filter: unset;
}

#social .fb a:hover,
#social .fb a:active,
#social .fb .on {
    color: var(--fb);
}

#social .yt a:hover,
#social .yt a:active,
#social .yt .on {
    color:var(--yt);
}

#social .ig a:hover,
#social .ig a:active,
#social .ig .on {
    color: var(--ig);
}

/* For all the tiles -- Individual tiles can be styled, well, individually */
.tiles
{
    height: 100vh;
    margin: 0;

    width: calc(100vw - var(--side-width) - var(--events-padding));

    padding: 0 var(--events-padding);
    padding-left: var(--side-width);

    /* margin-left: 0; */

    /* padding: 2.5rem; */

    /* border-radius: 2rem; */

    /* border: 3px dashed rgb(194, 173, 150); */

    /* backdrop-filter: blur(15px); */

    /* DUE TO THE PRELOADER, THIS MAY NOT SEEM LIKE THE APPARENT DURATION - EXP - RESP */
    /* Causes issues with scrollify */
    /* animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp; */
}

.tile-ttl
{
    text-align: center;

    font-family: var(--tile-ttl-font-family);
    font-size: var(--tile-ttl-font-size);
    text-transform: uppercase;

    padding: 10rem 0 4rem 0;

    line-height: 5.5rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);

    transition: all 0.6s ease;
}

.in-tile-ttl {
    margin: 2rem auto;

    color: var(--ttl-color);
    font-family: var(--in-tile-ttl-font-family);
    font-size: var(--in-tile-ttl-font-size);
    font-weight: 500;
    line-height: 4rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);
}

.in-tile-text {
    font-family: var(--in-tile-text-font-family);
    font-size: var(--in-tile-text-font-size);
}

#events
{
    background-color: var(--events-bg-col);
    overflow: hidden;

    position: absolute;
}

/* The actual timeline (the vertical ruler) */
.timeline
{
    margin: 0 auto;
    margin-top: 8rem;

    /* background: inherit; */
    overflow: hidden;
}

.timeline::-webkit-scrollbar
{
    width: 0 !important;
}

.entry
{
    margin: 2.5rem 5rem;
}

/* Forcing the last element up */
/* .entry:last-child
{
    margin-bottom: 20rem;
} */

.entry-title
{
    margin: 0;
    padding: 1rem;

    color: white;
    font-weight: 200;
    font-size: var(--entry-title-font-size);
}

.entry-title i {
    margin: 0 2rem;
    transition: all 0.6s;
}

.entry-detail
{
    margin: 0;
    max-height: 0;
    overflow: hidden;
    
    font-size: var(--entry-text-font-size);
    font-weight: 200;

    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.entry input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.entry label {
    position: relative;
    display: block;

    margin: 0;
    padding: 1.5rem 0; 
    
    color: white;
    font-family: var(--entry-title-font-family);
    font-weight: 200;
    font-size: var(--entry-title-font-size);

    cursor: pointer;

    transition: all 0.6s ease;
}

.entry label:hover {
    background: rgba(45, 196, 131, 0.7);
}

/* :checked */
.entry input:checked ~ .entry-detail {
    max-height: 50vh;
}

.entry input[type=checkbox]:checked + label {
    background: rgba(45, 196, 131, 1);
}

.entry input[type=checkbox]:checked + label h2 i {
    transform: rotate(90deg);
}

/* Text in the entry - <p> */
.entry-text {
    text-align: justify;
    margin: 2rem auto;
}

/* Any image in the entry - <img> */
.entry-image {
    float: left;
    margin: 3rem;
}

/* Selective Styling of Entry-Images */
.entry-spic {
    width: 25rem;
    height: 15rem;
}

.entry-def {
    width: 25rem;
    height: 15rem;
}
/* Selective Styling of Entry-Images -- ENDS HERE */

/* GALLERY */
#gallery
{
    background-color: var(--gallery-bg-col);
}

.gallery-slider, .gallery-pics {
    transition: all 0.6s ease;
}

.gallery-slider {
    display: flex;
    align-items: center;

    margin: 6rem;
    margin-top: 8rem;

    height: 60vh;

    scroll-snap-type: x proximity;
	-webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

/* .gallery-slider:hover .gallery-pics {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
} */

.gallery-slider::-webkit-scrollbar {
    /* width: 0 !important; */
    width: 0.1em;
    height: 0.5em;

    border-radius: 20px;
    box-shadow: 0 0 1px 1px paleturquoise;
}

.gallery-slider::-webkit-scrollbar-button {
    background: #d4b89b;
}
.gallery-slider::-webkit-scrollbar-track-piece {
    background: transparent; /*  #f9df82; */
}
.gallery-slider::-webkit-scrollbar-thumb {
    background: #be9bff;
}

/* FROM HERE: https://codepen.io/lewismcarey/pen/GJZVoG */
/* @keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
  
    50% {
        -webkit-transform: translate3d(calc(-1*var(--gallery-pic-width)*(var(--gallery-pic-num)-4)), 0, 0);
        transform: translate3d(calc(-1*var(--gallery-pic-width)*6), 0, 0);
    }
} */

.gallery-pics {
    position: relative;

    width: var(--gallery-pic-width);
    height: 48vh;

    text-align: center;
    
    scroll-snap-align: center;

    /* -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 30s;
            animation-duration: 30s; */
}

#fic
{
    background-color: var(--fic-bg-col);
}

.fic-image img, .fic-words {
    transition: all 0.6s ease;
}

.fic-container
{
    display: grid;
    grid-template-areas:
        "fic-image fic-words";
    
    grid-template-columns: 42% 58%;

    grid-column-gap: 4rem;
    margin-top: 19vh;

    align-items: center;

    /* padding: auto 8rem; */
}

.fic-image
{
    grid-area: fic-image;
    /* position: relative; */
    /* left: -4rem; */
    padding: 6rem auto;
    margin-left: 6rem;

    text-align: center;

    border-right: var(--in-tile-vert-sep-col) 0.5rem solid;/*0.2rem initially*/
}

.fic-image img
{
    margin: 0 auto;
    margin-top: 1.5rem;

    width: var(--fic-image-size);
    height: var(--fic-image-size);

    border-radius: 50%;
    border: 2px solid var(--person-border-color);
}

.fic-words
{
    grid-area: fic-words;
    padding: 4rem;
    margin: 4rem;
    margin-right: 12rem;

    color: white;
    font-size: 3.2rem;
    text-align: justify; /* left -- SA */
}

.fic-name
{
    display: grid;
    margin: 2rem auto;
    
    color: var(--fic-name-col);
	font-family: Helvetica, sans-serif;
	font-weight: 300;
    
    font-size: var(--person-name-font-size);
}

#members
{
    background-color: var(--members-bg-col);
    /* Delete the line, below, to make scrollify work perfectly, but wreck the layout (if there are > 10 people) and vice-versa */
    /* height: auto; */

    text-align: center;
}

.members-container
{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 4rem auto;
    margin-top: 0;

    height: 72vh;

    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.members-container::-webkit-scrollbar {
    width: 0 !important;
}

.person
{
    width: var(--members-pic-size);
    height: var(--members-pic-size);

    margin: 8rem 13rem; /* Original: 5rem 4.7rem */

    transition: 0.3s ease;

    scroll-snap-align: center;
}

.person-details
{
    position: relative;
    top: -11.2rem; /* PREV: 13.8rem */

    opacity: 0;
    margin: 0 1.4rem; /* PREV: 1.75rem */

    color: aliceblue;
    font-size: 5rem;

    z-index: 10;

    transition: all 0.2s ease;
    
    
    font-size: var(--person-details-font-size);
}

.person-filter
{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 2px solid var(--person-border-color);

    transition: 0.3s ease;
}

.person-name
{
    display: grid;
    margin: 1rem auto;
    margin-top: -4rem;
    
    /*color: var(--sec0);*/
    color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
    font-size: var(--person-name-font-size);
}

#person-dgn
{
    margin-top: 0.25rem;
    padding-top: 0.25rem;

    color: white;
    font-size: var(--person-dgn-font-size);
    font-weight: 800;
}


.person:hover .person-filter
{
    filter: blur(6px);
}

.person:hover a
{
    opacity: 1;
}

.fb:hover
{
    opacity: 1;
    color: var(--fb); /* Actual FB Logo Color */
}

.insta:hover
{
    opacity: 1;
    color: var(--ig); /* Actual Insta Logo Color - Just the Reddish Pink */
}

.yt:hover
{
    opacity: 1;
    color: var(--yt); /* Actual YT Logo Color */
}

#contact
{
    background-color: var(--contact-bg-col);
}

.contact-container {
    display: grid;
    grid-template-areas:
        "contact-details contact-spic";

    /* grid-column-gap: 5rem; */
    grid-template-columns: 50% 50%;

    color: white;

    margin-top: 13.5rem;
    padding: 2rem 0;
}

.contact-details {
    grid-area: contact-details;
    text-align: right;

    padding: 0 2rem;

    border-right: var(--in-tile-vert-sep-col) 0.2rem solid;
}

.contact-niser {
    margin: 5rem 0;
    text-align: right;
}

.address-text {
    font-family: var(--in-tile-text-font-family);
    font-size: var(--in-tile-text-font-size);
    font-style: normal;
    line-height: 3rem;
}

.contact-niser a {
    text-decoration: underline dotted var(--link-underline-col) !important;
}

.follow-us {
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    float: right;
    flex-wrap: wrap;
}

.follow-us a {
    display: inline-block;

    color: white;
    margin: 1rem 2rem;
}

.follow-us a i {
    transition: all 0.4s;
}

.mail:hover {
    color: var(--mail-col);
}

.whatsapp:hover {
    color: var(--whatsapp-col);
}

.contact-spic
{
    grid-area: contact-spic;
    padding: 2rem;

    margin-right: 18vw;

    text-align: left;
}

.contact-spic a {
    text-decoration: underline dotted var(--link-underline-col) !important;
}

.contact-spic p {
    padding: 2rem;
    padding-left: 0;

    font-size: var(--in-tile-text-font-size);
    text-align: left;
}

/* CAUTION - CODE GRAVEYARD AHEAD */

/* Media Rules */

/* @media screen and (min-width: 960px) and (max-width: 1875px)
{

} */

/* @media screen and (min-width: 960px) and (max-width: 1124px)
{
  
} */

@media screen and (max-width: 1700px)
{
    .person {
        margin: 6rem 6vw;
    }

    .contact-spic {
        margin-right: 0;
    }
}

@media screen and (max-width: 1300px)
{
    :root {
        --main-ttl-font-size: 7.75rem;
        --tile-ttl-font-size: 7rem;
        --landing-link-font-size: 2.25rem;

        --side-width: 12rem;
        --nav-link-icon-font-size: 3.5rem;
        
        --entry-title-font-size: 3rem;
        --entry-text-font-size: 2rem;

        --gallery-pic-width: 55vw;

        --members-bg-col: #97e0d4;
        --members-pic-size: 16rem;
        --person-details-font-size: 4rem;
    }

    #landing #social {
        width: 100vw;
        text-align: center;
        margin: 0 auto;
        position: relative;
        right: unset;
        left: -2rem;
    }
    
    #landing #social li {
        font-size: 6rem;
        margin: 0 4rem;
    }

    .social-icons::after {
        width: 5px;
        position: relative;
        top: -6rem;
    }

    blockquote {
        font-size: 2rem;    
    }
    
    blockquote:before
    {
        position: relative;
        top: 1.8rem;
    }

    .entry label {
        padding: 1rem 0; 
    }

    .fic-words {
        padding: 2rem;
        margin: 2rem;
        margin-right: 6rem;
    }

    /* .members-container {
        margin: 6.5rem auto;
    } */

    .person {
        margin: 7rem 6vw;
    }

    .person-details {
        position: relative;
        top: -10.2rem;
    }
}

@media screen and (max-width: 1024px)
{
    :root {
        --in-tile-text-font-size: 2rem;

        --main-ttl-font-size: 7.25rem;
        --tile-ttl-font-size: 6rem;

        --landing-link-font-size: 2rem;

        --gallery-pic-width: 60vw;

        --fic-image-size: 22rem;

        --person-name-font-size: 2rem;
        --person-dgn-font-size: 1.8rem;
    }

    .fic-words {
        font-size: 2.8rem;
        padding-left: 0;
        margin: 2rem 4rem 2rem 0;
    }

    .person {
        margin: 6rem 4vw;
    }
}

@media screen and (max-width: 900px)
{
    :root {
        --main-ttl-font-size: 6.5rem;
        --tile-ttl-font-size: 5rem;

        --in-tile-ttl-font-size: 3.5rem;
        --in-tile-text-font-size: 1.9rem;

        --side-width: 10rem;
        --logowidth: 7.5rem;

        --entry-title-font-size: 2.8rem;
        --entry-text-font-size: 1.8rem;

        --gallery-pic-width: 72vw;

        --fic-image-size: 20rem;
    }

    .in-tile-ttl {
        margin: 0.5rem auto;
    }

    blockquote {
        font-size: 1.8rem;
    }

    blockquote:before
    {
        position: relative;
        top: 2.2rem;
    }

    .gallery-slider {    
        margin: 3rem;
    }

    .fic-container {
        height: 100%;
    
        display: grid;
        grid-template-areas:
            "fic-image"
            "fic-words";
        
        grid-column-gap: unset;
        grid-template-columns: unset;
        grid-template-rows: 40% 40%;

        margin-top: 2rem;
    }

    .fic-image {
        grid-area: fic-image;
        padding: 0;
        margin: 4rem 5rem;
        margin-bottom: 2rem;

        border-right: unset;
        border-bottom: var(--in-tile-vert-sep-col) 0.2rem solid;
    }

    .fic-image img {
        margin: 1.8rem auto;
    }

    .fic-name {
        margin: 0;
    }

    .fic-dgn {
        margin-bottom: 4vh;
    }

    .fic-words {
        font-size: 2.4rem;
        grid-area: fic-words;
        padding: 2rem 4rem;
        margin: 2rem;
    }

    .person {
        margin: 5.5rem 3vw;
    }

    .contact-container {
        display: grid;
        grid-template-areas:
            "contact-details"
            "contact-spic";
        
        grid-template-columns: unset;
        grid-template-rows: 55% 45%;
        grid-row-gap: 3rem;
    
        margin-top: 0;
        padding: 1rem 0;
    }
    
    .contact-details {
        margin: 2rem 8rem;
        text-align: center;

        border-right: unset;
        border-bottom: var(--in-tile-vert-sep-col) 0.5rem solid;/*0.2rem initially*/
    }
    
    .contact-niser {
        margin: 3rem 0;
        text-align: center;
    }
    
    .follow-us {
        font-size: 3.5rem;
        float: none;
        justify-content: center;
    }
    
    .contact-spic {
        margin: 2rem auto;
        padding: 0;

        text-align: center;
    }
    
    .contact-spic p {
        padding: 1rem 10rem;

        text-align: justify;
    }
}

@media screen and (max-width: 740px)
{
    :root {
        --main-ttl-font-size: 6rem;
        --tile-ttl-font-size: 4.5rem;

        --in-tile-ttl-font-size: 3rem;
        --in-tile-text-font-size: 1.8rem;

        --logowidth: 5rem;

        --entry-title-font-size: 2.5rem;
        --entry-text-font-size: 1.6rem;

        --gallery-pic-width: 86vw;

        --fic-image-size: 18rem;

        /* --members-pic-size: 17rem; */

        --person-name-font-size: 1.8rem; /* AFFECT FIC NAME TOO */
        --person-dgn-font-size: 1.7rem; /* AFFECT FIC DGN TOO */
    }
    
    .tiles {
        min-height: 100vh;
        width: 100vw;
        padding: 0;
    }

    .tile-ttl {
        padding: 6rem 0 4rem 0;
    }

    #landing #landing-links {
        float: unset;
        text-align: center;
    }
    
    #landing #landing-links li {
        margin: 3rem;
    }
    
    #side {
        transform: translate3d(0, 0, 0); /* To force HW Accelaration */
        backdrop-filter: blur(var(--landing-blur));

        position: fixed;
        top: unset;
        bottom: 0;

        float: none;
        width: 100%;
        height: 10vh;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        text-align: center;
    }

    #logo-link {
        position: unset;
        margin: 0 2vw;
    }

    #logo {
        margin: 2rem 1vw;
    }

    #nav {
        position: unset;

        margin: 0 auto;
        /* margin-left: 2.5rem; */

        line-height: 8vh;
        text-align: center;
    }

    #nav-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #nav-list .ulist {
        display: flex;

        margin: 0 0.5vw;
    }

    .navicon {
        margin: 0 2rem;
        padding: 0;
    }

    footer
    {
        display: none;
        position: unset;
        top: 88vh;
        margin: 0 var(--tiles-margin);
        margin-bottom: 2rem;
        padding: 1.4rem;

        color: white;
        font: bold 1.5rem Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        line-height: 2.2rem;
    }

    #landing #social {
        position: relative;
        right: 0;
        top: -8rem;
    }

    #landing #social li {
        font-size: 5.5rem;
        margin: 0 4rem;
    }

    .social-icons::after {
        width: 4px;
        position: relative;
        top: -5.75rem;
    }

    blockquote {
        position: absolute;
        bottom: 12rem;
        width: 100vw;
        margin: 0 auto;

        text-align: center;
    }

    blockquote:before {
        position: relative;
        top: 1.8rem;
    }

    .timeline {
        margin-top: 4rem;
    }

    #gallery .tile-ttl, #fic .tile-ttl {
        padding: 8rem 0 3rem 0;
    }

    .gallery-slider {    
        margin: 3rem 2rem;
    }

    .fic-container {
        margin-top: 4.5vh;
    }

    #members .tile-ttl, #contact .tile-ttl {
        padding-bottom: 2rem;
    }

    .members-container {
        margin: -1rem 0;
        height: 80vh;
    }

    .person {
        margin: 4.5rem 6vw;
    }

    #person-dgn {
        padding-top: 0;
    }

    .contact-container {
        grid-row-gap: 0;
    }

    .contact-spic {
        margin: 1rem auto;
        padding: 1rem;
    }
    
    .contact-spic p {
        padding: 0 4rem;
    }
}

/* Newer iPads (Non Pro) */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .members-container {
        height: 76.5vh;
    }

    .contact-container {
        grid-row-gap: 0;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    :root {
        --logowidth: 7rem;
        --side-width: 10rem;

        --nav-link-icon-font-size: 3rem;

        --gallery-pic-width: 70vw;
    }

    h1 {
        margin: 10vh auto 0 auto;
    }

    .tile-ttl {
        padding: 5.5rem 0 2rem 0;
    }

    #nav-list  {
        margin-top: 14vh;
    }

    .navicon {
        margin: 1.5rem 0;
        padding: 0;
    }

    .timeline {
        margin-top: 3rem;
    }

    .gallery-slider {
        margin: 5rem 3rem;
        height: 64vh;
    }

    .gallery-pics {
        height: 54vh;
    }

    .fic-container {
        margin-top: 13.5rem;
    }

    .members-container {
        margin: 2rem 0;
    }

    .person {
        margin: 5rem 6.5vw;
    }

    .contact-container {
        margin: 8.5rem 3rem 0 0;
    }
}
/* Newer iPads (Non Pro) -- ENDS HERE */

/* iPads (Pro) */
@media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
    :root {
        --gallery-pic-width: 76vw;
    }
    .gallery-slider {
        margin: 8rem 3rem;
        height: 64vh;
    }

    .fic-container {
        margin-top: 32rem;
    }

    .members-container {
        margin: 10rem 0;
    }

    .person {
        margin: 9rem 6.5vw;
    }

    .contact-container  {
        margin: 19rem 3rem 0 0;
    }
}

@media only screen
    and (min-device-width: 1366px)
    and (max-device-width: 1366px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        margin: 14vh auto 0 auto;
    }

    #landing #social {
        width: 100vw;
        text-align: center;
        margin: 0 auto;
        position: relative;
        right: unset;
        left: -2rem;
    }

    #landing #social li {
        font-size: 8rem;
        width: 2rem;
        margin: 0 5rem;
        justify-content: center;
    }

    .social-icons::after {
        position: relative;
        right: -3rem;
        top: -7rem;
    }

    .fic-container {
        margin-top: 17rem;
    }

    .person {
        margin: 6.5rem 6.5vw;
    }
}
/* iPads (Pro) -- ENDS HERE */

/* Phones - iPhone 5/SE - Galaxy S5 to iPhone 6/7/8 - Others */
@media only screen
    /* iPhone 5/SE */
    and (device-width: 320px)
    and (device-height: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
    only screen
    /* Galaxy S5 + iPhone 6/7/8 */
    and (min-device-width: 360px)
    and (max-device-width: 480px) /* 375px */
    and (min-device-height: 640px)
    and (max-device-height: 860px) /* 667px */
    /* and (-webkit-min-device-pixel-ratio: 2) */
    and (orientation: portrait) {
    :root {
        --logowidth: 4rem;
        --nav-link-icon-font-size: 3rem;

        --in-tile-ttl-font-size: 2.25rem;
        --in-tile-text-font-size: 1.5rem;
        --tile-ttl-font-size: 3.5rem;

        --main-ttl-font-size: 5rem;
        --landing-link-font-size: 1.6rem;

        --entry-title-font-size: 1.7rem;
        --entry-text-font-size: 1.5rem;

        --gallery-pic-width: 88vw;

        --fic-image-size: 14rem;

        --members-pic-size: 22rem;
        --person-name-font-size: 1.6rem; /* AFFECT FIC NAME TOO */
        --person-dgn-font-size: 1.6rem; /* AFFECT FIC DGN TOO */
        --person-details-font-size: 5rem;
    }

    .tile-ttl {
        padding: 2rem !important;
    }

    .in-tile-ttl {
        margin: 0 auto;
    }

    #landing #landing-links li {
        margin: 1rem;
    }

    h1 {
        margin: 0 auto;
        margin-top: -4rem;
    }

    #landing #social {
        margin: 4rem 0 0 1rem;
    }

    #landing #social li {
        font-size: 4rem;
        margin: 2rem;
    }

    .social-icons::after {
        width: 4px;
        height: 5rem;
        position: relative;
        top: -4.5rem;
        right: -1.4rem;
    }

    blockquote {
        position: absolute;
        bottom: 7rem;

        font-size: 1.5rem;
    }

    blockquote:before, blockquote:after {
        font-size: 5rem;
    }

    blockquote:before {
        position: relative;
        top: 1.5rem;
    }

    blockquote:after {
        position: relative;
        top: 3rem;
    }

    #logo-link {
        margin: 0;
    }

    #logo {
        margin: 0.75rem;
    }

    #nav {
        margin-left: 1rem;
    }

    #nav-list {
        margin-left: 1rem;
    }

    #nav-list .ulist {
        margin: 0;
    }

    .navicon {
        margin: 0 0.5rem;
    }

    footer
    {
        display: none;
        position: unset;
        top: 88vh;
        margin: 0 var(--tiles-margin);
        margin-bottom: 2rem;
        padding: 1.4rem;

        color: white;
        font: bold 1.5rem Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        line-height: 2.2rem;
    }

    .timeline {
        margin: 0;
    }

    .entry {
        margin: 0.5rem 1rem;
    }

    .entry label {
        padding: 0.5rem;
    }

    .entry-title {
        padding: 0.5rem;
    }

    .gallery-slider {    
        margin: 2.5rem 1rem;
    }

    .fic-container {
        grid-template-rows: 35% 30%;
        grid-row-gap: 1rem;

        margin: 0;
    }

    .fic-image {
        margin: 0 3.5rem;
    }

    .fic-words {
        padding: 1rem;
        margin: 2.2rem;

        font-size: 1.4rem;
    }

    .members-container {
        display: flex;

        flex-direction: row;

        margin: 2rem 4rem;
        margin-top: -0.5rem;

        height: 65vh;

        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }

    .members-container::-webkit-scrollbar {
        width: 0 !important;
    }
    
    .person {
        position: relative;

        margin: 10rem 3vw;

        width: var(--members-pic-size);
        height: var(--members-pic-size);

        scroll-snap-align: center;
    }

    .person-filter {
        width: var(--members-pic-size);
        height: var(--members-pic-size);
    }

    .person-details {
        position: relative;
        top: -13.75rem;
        margin: 0 1.75rem;
    }

    #contact .tile-ttl {
        padding: 1rem 0 0 0 !important;
    }

    .contact-container {
        margin: 0;
        padding: 0;

        grid-template-rows: 49% 30%;
        grid-row-gap: 0;
    }

    .contact-details {
        margin: 0 1.5rem;
    }

    .address-text {
        font-size: 1.3rem;
        line-height: 1.8rem;

        margin: -2rem 0 -2.2rem 0;
        padding: 0;
    }

    .follow-us {
        font-size: 2.5rem;
    }

    .follow-us a {
        margin: 0.5rem 1.5rem;
    }

    .contact-spic {
        margin: 0 auto;
        padding: 1rem;
    }
    
    .contact-spic p {
        margin: 0;
        padding: 0 1rem;
        font-size: 1.2rem;
    }
}

@media only screen
    /* iPhone 5/SE */
    and (device-height: 320px)
    and (device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape),
    only screen
    /* Galaxy S5 + iPhone 6/7/8 */
    and (min-device-height: 360px)
    and (max-device-height: 480px)
    and (min-device-width: 640px)
    and (max-device-width: 860px)
    /* and (-webkit-min-device-pixel-ratio: 2) */
    and (orientation: landscape) {
    :root {
        --in-tile-text-font-size: 1.6rem;
        --in-tile-ttl-font-size: 2rem;
        --tile-ttl-font-size: 3rem;
        
        --logowidth: 4rem;
        --nav-link-icon-font-size: 2.75rem;

        --main-ttl-font-size: 4rem;
        --landing-link-font-size: 1.6rem;

        --entry-title-font-size: 1.7rem;
        --entry-text-font-size: 1.5rem;

        --gallery-pic-width: 54vw;

        --fic-image-size: 12rem;

        --members-pic-size: 12rem;
        --person-details-font-size: 3.25rem;
        --person-name-font-size: 1.4rem; /* AFFECT FIC NAME TOO */
        --person-dgn-font-size: 1.4rem; /* AFFECT FIC DGN TOO */
    }

    .tile-ttl {
        padding: 1.25rem 0 2rem 0 !important;
    }
    
    #side {
        height: 15vh;
    }

    #logo-link {
        margin: 0.2rem 2rem;
    }

    #logo {
        margin: 0;
    }

    .navicon {
        margin: 0 2rem;
    }

    #landing #landing-links {
        text-align: right;
        margin-bottom: 0;
    }

    #landing #landing-links li {
        display: inline-block;
        margin: 1rem 2rem;
    }

    #landing #social {
        margin: 5rem 0 -3rem 1rem;
    }

    #landing #social li {
        font-size: 4rem;
        margin: 2rem;
    }

    .social-icons::after {
        width: 4px;
        height: 5rem;
        position: relative;
        top: -4.5rem;
        right: -1.4rem;
    }

    blockquote {
        position: absolute;
        bottom: 14.25vh;

        font-size: 1.5rem;
    }

    .timeline {
        margin: 0;
    }

    .entry {
        margin: 0 1rem;
    }

    .entry label {
        padding: 0; 
    }

    .entry-text {
        margin: 1rem;

        font-size: 1.4rem;
    }

    .gallery-slider {
        margin: 0 12rem;
        margin-top: -1rem;
        padding: 0;
    }

    #fic .tile-ttl {
        padding: 0.5rem 0 0 0 !important;
    }

    .fic-container {
        display: grid;
        grid-template-areas:
            "fic-image fic-words";
        
        grid-template-columns: 45% 55%;
        grid-template-rows: 58%;

        grid-column-gap: unset;
        margin: 1.5rem 2rem;
    }

    .fic-image {
        grid-area: fic-image;
        margin: 0;
        padding: 2rem 0 0 0;

        border-bottom: unset;
        border-right: var(--in-tile-vert-sep-col) 0.25rem solid;/*0.2rem initially*/
    }

    .fic-image img {
        margin: 0 auto;
    }

    .fic-words {
        grid-area: fic-words;
        padding: 0.5rem;

        font-size: 1.5rem;
    }

    .fic-name {
        margin: 1rem auto;
    }

    .members-container {
        display: flex;

        flex-direction: column;

        margin: 0;
        margin-top: -11.5vh;

        height: 70vh;

        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .members-container::-webkit-scrollbar {
        width: 0 !important;
    }
    
    .person {
        position: relative;
        margin: 0 3vw;

        scroll-snap-align: center;
    }

    .person-details {
        position: relative;
        top: -8rem;
        margin: 0 1rem;
    }

    .person-name {
        margin-top: -3.5rem;
    }

    #contact .tile-ttl {
        padding: 1rem 0 0 0 !important;
    }

    .contact-container {
        display: grid;
        grid-template-areas:
            "contact-details contact-spic";
        
        grid-template-columns: 50% 50%;
        grid-template-rows: none;

        margin: 0;
        padding: 0;
    }
    
    .contact-details {
        grid-area: contact-details;
        text-align: right;
        
        margin: 0;
        padding: 0 1rem;
        
        border-bottom: unset;;
        border-right: var(--in-tile-vert-sep-col) 0.2rem solid;
    }

    .contact-details .in-tile-ttl {
        margin: 0;
    }
    
    .contact-niser {
        margin: 0;
        text-align: right;
    }

    .address-text {
        font-size: 1.3rem;
        line-height: 1.75rem;
        margin: 0;
    }

    .follow-us {
        font-size: 2.5rem;

        display: flex;
        flex-direction: row;
        float: right;
        flex-wrap: wrap;
    }

    .contact-spic {
        grid-area: contact-spic;

        padding: 0 1rem;
        margin: 0;

        text-align: left;
    }

    .contact-spic p {
        padding: 0;
        margin: 0;

        font-size: 1.15rem;
        text-align: left;
    }
}
/* Phones - iPhone 5/SE - Galaxy S5 to iPhone 6/7/8 -- ENDS HERE */

/* Exclusive - Phones - Galaxy S5 to iPhone 6/7/8 */
@media only screen
    /* Galaxy S5 + iPhone 6/7/8 */
    and (min-device-width: 360px)
    and (max-device-width: 480px)
    and (min-device-height: 640px)
    and (max-device-height: 860px)
    /* and (-webkit-min-device-pixel-ratio: 2) */
    and (orientation: portrait) {
    #side {
        height: 9vh;
    }

    #nav-list {
        margin: 0.5rem 0 0 1.5rem;
    }

    .navicon {
        margin: 0 0.75rem;
    }

    .contact-container {
        margin-top: 4rem;
        grid-row-gap: 2rem;
    }

    .follow-us {
        margin-bottom: 4rem;
    }
}

@media only screen
    /* Galaxy S5 + iPhone 6/7/8 */
    and (min-device-height: 360px)
    and (max-device-height: 480px)
    and (min-device-width: 640px)
    and (max-device-width: 860px)
    /* and (-webkit-min-device-pixel-ratio: 2) */
    and (orientation: landscape) {
    :root {
        --gallery-pic-width: 60vw;
    }

    #side {
        height: 13vh;
    }

    .gallery-slider {    
        margin: 0 10rem;
    }

    .fic-container {
        margin: 2.5rem 2rem;
    }

    .person {
        position: relative;
        margin: 2rem 4vw;
    }

    .contact-container {
        margin: 3.5rem 0;
    }
}
/* Exclusive - Phones - Galaxy S5 to iPhone 6/7/8 - Others -- ENDS HERE */

/* Phones - iPhone 6/7/8 Plus/X - Pixel 2/2XL */
@media only screen
    /* iPhone 6/7/8 Plus */
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
    /* iPhone X */
    only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
    /* Pixel 2 */
    only screen
    and (device-width: 411px)
    and (device-height: 731px)
    /* and (-webkit-device-pixel-ratio: 3) */
    and (orientation: portrait),
    /* Pixel XL */
    only screen
    and (device-width: 411px)
    and (device-height: 823px)
    and (-webkit-device-pixel-ratio: 3.5) 
    and (orientation: portrait) {
    :root {
        --in-tile-text-font-size: 1.6rem;

        --entry-title-font-size: 2rem;
        --entry-text-font-size: 1.6rem;

        --members-pic-size: 26rem;
        --person-name-font-size: 2rem;
        --person-dgn-font-size: 2rem;
        --person-details-font-size: 5rem;
    }

    .tile-ttl {
        padding: 4rem 0 2rem 0 !important;
    }

    #landing #landing-links li {
        margin: 2rem;
    }

    h1 {
        margin: 2rem auto;
    }

    #landing #social li {
        font-size: 5rem;
        margin: 1rem 3rem;
    }

    .social-icons::after {
        width: 4px;
        position: relative;
        top: -5.5rem;
        right: -2.35rem;
    }

    blockquote {
        position: absolute;
        bottom: 8rem;
    }

    blockquote:before {
        position: relative;
        top: 2rem;
    }

    blockquote:after {
        position: relative;
        top: 3.5rem;
    }

    #logo-link {
        margin: 0;
    }

    #logo {
        margin: 1rem;
        margin-bottom: 2rem;
    }

    #nav {
        margin-left: 1.5rem;
    }

    #nav-list {
        margin-left: 0.75rem;
    }

    #nav-list .ulist {
        margin: 0;
    }

    .navicon {
        margin: 0 1.4rem;
    }

    footer
    {
        display: none;
        position: unset;
        top: 88vh;
        margin: 0 var(--tiles-margin);
        margin-bottom: 2rem;
        padding: 1.4rem;

        color: white;
        font: bold 1.5rem Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        line-height: 2.2rem;
    }

    .timeline {
        margin-top: 2rem;
        padding: 0;
    }

    .entry {
        margin: 0.5rem 2rem;
    }

    .gallery-slider {    
        margin: 4rem 2rem;
    }

    .fic-container {
        grid-template-rows: 40% 24%;
        grid-row-gap: 2rem;

        margin: 0;
    }

    .fic-image {
        margin: 0 3.5rem;
    }

    .fic-words {
        padding: 1rem;
        margin: 2.2rem;

        font-size: 1.6rem;
    }

    .members-container {
        display: flex;

        flex-direction: row;

        margin: 2rem 6rem;
        margin-top: 0;

        height: 65vh;

        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }

    .members-container::-webkit-scrollbar {
        width: 0 !important;
    }
    
    .person {
        position: relative;

        margin: 10rem 3vw;

        width: var(--members-pic-size);
        height: var(--members-pic-size);

        scroll-snap-align: center;
    }

    .person-filter {
        width: var(--members-pic-size);
        height: var(--members-pic-size);
    }

    .person-details {
        position: relative;
        top: -15.75rem;
        margin: 0 2.2rem;
    }

    #contact .tile-ttl {
        /* margin: 0 1rem; */
        padding: 2rem 0 0 0 !important;
    }

    .contact-container {
        margin: 2rem 0;
        padding: 0;

        grid-template-rows: 47% 40%;
        grid-row-gap: 0;
    }

    .contact-details {
        margin: 0 2rem;
    }

    .address-text {
        font-size: 1.5rem;
        line-height: 2.2rem;

        margin: -2rem 0 -2.2rem 0;
        padding: 0;
    }

    .contact-spic {
        margin: 1rem auto;
        padding: 1rem;
    }
    
    .contact-spic p {
        padding: 0 1.8rem;
        font-size: 1.5rem;
    }
}

@media only screen
    /* iPhone 6/7/8 Plus */
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape),
    /* iPhone X */
    only screen
    and (device-height: 375px)
    and (device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape),
    /* Pixel 2 */
    only screen
    and (device-height: 411px)
    and (device-width: 731px)
    /* and (-webkit-device-pixel-ratio: 3) */
    and (orientation: landscape),
    /* Pixel 2 XL */
    only screen
    and (device-height: 411px)
    and (device-width: 823px)
    and (-webkit-device-pixel-ratio: 3.5)
    and (orientation: landscape) {
    :root {
        --in-tile-text-font-size: 1.6rem;
        --in-tile-ttl-font-size: 2.8rem;

        --side-width: 8rem;

        --logowidth: 4.5rem;
        --nav-link-icon-font-size: 3rem;

        --entry-title-font-size: 2rem;
        --entry-text-font-size: 1.6rem;

        --gallery-pic-width: 50vw;

        --fic-image-size: 16rem;

        --person-name-font-size: 1.6rem; /* AFFECT FIC NAME TOO */
        --person-dgn-font-size: 1.5rem; /* AFFECT FIC DGN TOO */
    }

    .tile-ttl {
        padding: 2.5rem 0 2rem 0 !important;
    }
    
    #side {
        height: 13vh;
    }

    #logo-link {
        margin: 0.25rem 1rem;
    }

    #logo {
        margin: 0;
    }

    .navicon {
        margin: 0 3rem;
    }

    #landing #landing-links {
        text-align: right;
        margin-bottom: 0;
    }

    #landing #landing-links li {
        display: inline-block;
        margin: 2rem;
    }

    #landing #social {
        position: relative;
        top: -4.5rem;
    }

    blockquote {
        position: absolute;
        bottom: 14.25vh;
    }

    .timeline {
        margin-top: 0;
    }

    .entry {
        margin: 0rem 1rem;
    }

    .entry label {
        padding: 0; 
    }

    .entry-text {
        margin: 1rem;
    }

    .gallery-slider {
        margin: 0 8rem;
    }

    .fic-container {
        display: grid;
        grid-template-areas:
            "fic-image fic-words";
        
        grid-template-columns: 45% 55%;
        grid-template-rows: 58%;

        grid-column-gap: unset;
        margin: 1.5rem 2rem;
    }

    .fic-image {
        grid-area: fic-image;
        margin: 0;
        padding: 0;
        margin-left: 0;

        border-bottom: unset;
        border-right: var(--in-tile-vert-sep-col) 0.25rem solid;/*0.2rem initially*/
    }

    .fic-image img {
        margin: 0 auto;
    }

    .fic-words {
        grid-area: fic-words;
        padding: 1rem;

        font-size: 1.8rem;
    }

    .fic-name {
        margin: 1rem auto;
    }

    .members-container {
        display: flex;

        flex-direction: column;

        margin: 0;
        margin-top: -5.5vh;

        height: 68vh;

        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .members-container::-webkit-scrollbar {
        width: 0 !important;
    }
    
    .person {
        position: relative;
        margin: 0rem 3vw;

        scroll-snap-align: center;
    }

    .contact-container {
        display: grid;
        grid-template-areas:
            "contact-details contact-spic";
        
        grid-template-columns: 50% 50%;
        grid-template-rows: none;

        margin: 0;
        padding: 0;
    }
    
    .contact-details {
        grid-area: contact-details;
        text-align: right;
        
        margin: 0;
        padding: 0 2rem;
        
        border-bottom: unset;;
        border-right: var(--in-tile-vert-sep-col) 0.2rem solid;
    }
    
    .contact-niser {
        margin: 0;
        text-align: right;
    }

    .address-text {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 1rem 0;
    }

    .follow-us {
        font-size: 2.75rem;

        display: flex;
        flex-direction: row;
        float: right;
        flex-wrap: wrap;
    }

    .contact-spic {
        grid-area: contact-spic;

        padding: 0 2rem;
        margin: 0;

        text-align: left;
    }

    .contact-spic p {
        padding: 0;

        font-size: 1.4rem;
        text-align: left;
    }
}
/* Phones - iPhone 6/7/8 Plus/X - Pixel 2/2XL -- ENDS HERE */


/* Exclusive to Pixel 2XL + iPhone X */
@media only screen
    /* iPhone X */
    and (device-height: 375px)
    and (device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape),
    /* Pixel 2 */
    only screen
    and (device-height: 411px)
    and (device-width: 731px)
    and (-webkit-device-pixel-ratio: 3.5)
    and (orientation: landscape),
    /* Pixel 2 XL */
    only screen
    and (device-height: 411px)
    and (device-width: 823px)
    and (-webkit-device-pixel-ratio: 3.5)
    and (orientation: landscape) {
    :root {
        --gallery-pic-width: 48vw;
    }

    #nav-list {
        margin-top: 3rem;
    }

    #logo-link {
        margin: 0 auto;
    }

    .navicon {
        margin: 1rem 0;
    }

    footer {
        display: none;
    }

    #landing #social {
        position: relative;
        right: 0;
        top: -2rem;
    }

    #landing #social li {
        font-size: 5rem;
        margin: 0 4rem;
    }

    .social-icons::after {
        width: 4px;
        position: relative;
        top: -5.75rem;
    }

    blockquote {
        position: absolute;
        bottom: 2rem;
        width: 100vw;
        margin: 0 auto;

        text-align: center;
    }

    .gallery-slider {
        margin: 0 10rem;
        height: 70vh;
    }

    .fic-container {
        margin: 2.5rem 2rem;
    }

    .fic-image {
        margin-top: 2rem;
    }

    .contact-container {
        margin-right: 2rem;
    }
}
/* Exclusive to Pixel 2XL + iPhone X -- ENDS HERE */

/* Exclusive - Phones - iPhone X */
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
    :root {
        --landing-link-font-size: 1.75rem;

        --logowidth: 4.5rem;
        --nav-link-icon-font-size: 3rem;
    }

    #side {
        height: 10vh;
    }

    #logo-link {
        margin: 1.5rem;
    }

    #logo {
        margin: 0;
    }

    #nav {
        margin: 0 -1rem;
    }

    .navicon {
        margin: 0 1rem;
    }

    blockquote {
        position: absolute;
        bottom: 10rem;
    }

    .members-container {
        margin: 0;
    }

    .person {
        margin: 12rem 0;
    }

    #contact .tile-ttl {
        padding: 0.75rem 0 0 0 !important;
    }

    .follow-us a {
        color: white;
        margin: 1rem 1.5rem;
    }
}

@media only screen
    and (device-height: 375px)
    and (device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
    :root {
        --gallery-pic-width: 42vw;
    }

    #nav-list {
        margin-top: 2.75rem;
    }

    .navicon {
        margin: 0.75rem 0;
    }
    
    .gallery-slider {
        height: 66vh;
    }
    
    .fic-container {
        margin: 1.75rem;
    }
    
    .fic-image {
        margin-top: 0;
    }

    .members-container {
        margin-top: -6rem;
        height: 88vh;
    }
    
    .contact-container {
        margin: 0.5rem 2rem 0 0;
    }

    .contact-spic {
        padding: 0 0 0 2rem;
    }
}
/* Exclusive - Phones - iPhone X -- ENDS HERE */

/* Exclusive - Phones - Pixel 2 XL */
@media only screen
    and (device-width: 411px)
    and (device-height: 823px)
    and (-webkit-device-pixel-ratio: 3.5)
    and (orientation: portrait) {
    #nav {
        margin-left: 1rem;
    }

    #logo {
        margin: 1.3rem;
    }

    .gallery-slider {    
        margin: 5.2rem 2rem;
    }

    .fic-container {
        margin-top: 1rem;
    }

    .members-container {
        margin: 4rem 5rem;
        margin-top: 3.5rem;

        height: 60vh;
    }

    #contact .tile-ttl {
        padding: 2rem;
        margin: 1rem;
        margin-top: 0;
    }

    .contact-details {
        margin: 0 2.75rem;
    }
}

@media only screen
    and (device-height: 411px)
    and (device-width: 823px)
    and (-webkit-device-pixel-ratio: 3.5)
    and (orientation: landscape) {
    .contact-container {
        margin: 2rem 2rem 0 0;
    }
}
/* Exclusive - Phones - Pixel 2 XL -- ENDS HERE */