:root
{
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-sizing: border-box;

    /* COMMON */
    /* AFFECTS: All Tile Titles */
    --tile-ttl-font-family: Gothic_Bold, sans-serif;
    --tile-ttl-font-size: 8rem;
    /* AFFECTS: In-tile Title in Contact Tile */
    --in-tile-ttl-font-family: Source_Bold, sans-serif;
    --in-tile-ttl-font-size: 4rem;
    /* AFFECTS: In-tile vertical separator in FIC and Contact Tiles */
    --in-tile-vert-sep-col: #FFFBDD;
    /* AFFECTS: Entry-Text in Events Tile | Text in FIC Tile | Text in Contact Tile */
    --in-tile-text-font-family: 'Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* MAIN TITLE/HEADER COLOR */
    --ttl-color: white;

    --link-underline-col: palegoldenrod;


    /* SIDEBAR */
    --side-width: 16rem;
    --logowidth: 8rem;
    --nav-link-icon-font-size: 4rem;
    --navicon-hover-bg-col: darkslategray;
    

    /* LANDING */
    --main-ttl-font-size: 13rem;
    --landing-link-font-size: 2.5rem;
    --landing-bg-col: #d4b89b;
    --blockquote-quotes-col: #96cb7f;


    /* EVENTS */
    --events-padding: 2rem;
    --events-bg-col: #9bc0ff;
    --entry-title-font-family: Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --entry-title-font-size: 3.5rem;
    --entry-text-font-size: 2.25rem;
    /* --entry-date-font-size: 2.8rem; */

    --timeline-height: 88%;

    /* GALLERY */
    --gallery-bg-col: #ff847e;
    --gallery-pic-width: 40vw;
    --gallery-pic-num: 8; /* CHANGE TO THE CURRENT NUMBER */

    /* FIC */
    --fic-bg-col: #be9bff;
    --fic-text-font-size: 2.25rem;
    --fic-image-size: 26rem;

    /* MEMBERS */
    --members-bg-col: #97e0d4;
    --width-person: 18rem;
    --height-person: 18rem;
    --person-details-font-size: 4rem;
    --person-border-color: white;

    /* CONTACT */
    --address-font-family: inherit;
    --contact-bg-col: #99dd9b;


    /* Text Shadow Colors */
    --text-shadow-default: rgb(185, 139, 79);
    
    /* Colors (Spandan) */
    --col0: #9bc0ff;
    --col1: #ff847e;
    --col2: #99dd9b;
    --col3: #f8c28d;
    --col4: #d4b89b;
    --col5: #f9df82;
    --col6: #97e0d4;
    --col7: #be9bff;
    --col8: #b2b7be;

    --bg: #000;
    --fg0: white;
    --fg1: #da9f93;
    --sec0: #d90368;
    --sec1: #F47983; /* #890620; */
    --sec2: #96cb7f;

    --fb: #3b5998;
    --yt: red;
    --ig: #fb3958;
    --mail-col: rgb(0, 120, 212);
    --whatsapp-col: rgb(0, 230, 118);

    scroll-behavior: smooth;
    /* overflow-x: hidden; */ /* FIXES THE CLIPPING ISSUE (IT'S NOT CLIPPING ANYWAY) - BUT MAKES HORIZONTAL SCROLLING INPOSSIBLE - RESP */
}

@font-face {
    font-family: Source;
    src: url('../fonts/SourceSandPro.ttf');
}

@font-face {
    font-family: Source_Bold;
    src: url('../fonts/SourceSandPro-Bold.ttf');
}

@font-face {
    font-family: Gothic;
    src: url('../fonts/century.ttf');
}

@font-face {
    font-family: Gothic_Bold;
    src: url('../fonts/centuryb.ttf');
}

@font-face {
    font-family: Athelas;
    src: url('../fonts/Athelas-Regular.ttf');
}

body
{
    background: url('../images/backgrounds/landing-bg.jpg') center/cover no-repeat fixed;
    margin: 0;

    color: white; /* Default Text Colour */

    /* To match up the transition with div.backgroundimagehack */
    transition: all 0.75s ease;
}

/* Hiding the scrollbar on the page */
body::-webkit-scrollbar {
    width: 0 !important;
}

a:hover, a:link, a:active, a:any-link, a:visited
{
    color: white;
    text-decoration: none !important;
    outline: 0;
    -moz-outline-style: none;
    outline-style: none;
}

ul
{
    padding: 0;
    list-style-type: none;
}

/* MAKING IMAGES NON-SELECTABLE/DRAGGABLE */
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* FOR .backgroundimagehack */
.blurimage {
    filter: blur(10px);
}

.backgroundimagehack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black url('../images/backgrounds/landing-bg.jpg') center/cover no-repeat fixed;
    z-index: -1;
    transition: all 0.75s ease;
}
/* FOR .backgroundimagehack -- ENDS HERE */

/* .content {
    scroll-snap-type: y mandatory;
}

.scrollify-section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
} */

#side {
    background: transparent;
    position: sticky;
    top: 5%;
    float: left;
    width: var(--side-width);
    height: 100vh;

    text-align: center;

    z-index: 10;

    /* border: 2px red solid; */ /* FOR DEBUGGING */
}

/* LOGO Image */
#logo-link
{
    display: block;
    position: sticky;
    top: 8rem;
    margin: 3rem auto;
    max-width: var(--logowidth);
    border-radius: 50%;
}

#logo
{
    max-width: var(--logowidth);
    border-radius: 50%;
    transition: 0.3s ease;
}

#logo:hover
{
    transform: scale(1.1);
}

#nav
{
    position: sticky;
    top: 27vh; /* PREV: 32vh */

    margin: 2rem 0;

    line-height: 8vh;
    text-align: center;
}

.nav-links
{
    font-size: var(--nav-link-icon-font-size);
    color: var(--fg0);

    margin: 0;
    padding: 0;

    transition: 0.2s ease;
}

.navicon
{
    width: 4rem;
    height: 4rem;

    color: white;
    margin: 1.5rem;
    padding: 1.75rem;

    transition: 0.4s ease;
}

.navicon:hover
{
    transform: scale(1.2);
}

footer
{
    position: sticky;
    top: 88vh;
    margin: 0 var(--tiles-margin);
    margin-bottom: 2rem;
    padding: 1.4rem;

    color: white;
    font: bold 1.5rem Gothic_Bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 2.2rem;
}

#selfref
{
    color: white;
    border-bottom: 1.5px dotted rgb(125, 165, 61);
}

/* THE TITLE */
#landing
{
    background: transparent;
    z-index: 2;
    /* background: url('../images/backgrounds/landing-bg.jpg') center/cover no-repeat fixed; */
    /* filter: blur(2px); */
    /* backdrop-filter: blur(20px); */
    /* background-color: var(--landing-bg-col); */

}

#landing #landing-links {
    float: right;
}

#landing #landing-links li {
    display: inline-block;

    font-family: Rubik;
    font-size: var(--landing-link-font-size);

    margin: 3rem 0;
    margin-right: 5.5rem;
    padding: 1rem;
}

/* Initial Load Transition */
#landing-links, #ttl, #social, blockquote {
    transition: all 1s ease;
}

.contact-us {
    border: 2px white solid;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    text-align: right;

    color: aliceblue;
    z-index: 2;
}

.intro > * {
  flex: 1;
}

/* #fshack {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #d4b89b;
    z-index: -1;
    transition: all 1s ease;
} */

h1 {
    margin: 12rem auto 0 auto;
    text-align: center;
}

h1 #ttl
{
    color: var(--ttl-color);
    font-family: Source, sans-serif;
    font-size: var(--main-ttl-font-size);
    font-weight: 500;

    text-shadow: 0px 0px 3px indianred;
    transition: 0.3s ease;

    line-height: 7.5rem;

    text-align: center;
}

blockquote {
    position: absolute;
    bottom: 3rem;
    width: 80rem;

    color: white;
    font-family: 'Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;    
}
/* From: https://stackoverflow.com/questions/16325687/make-big-quotes-with-blockquote */
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before
{
    position: relative;
    top: 1.8rem;
    color: var(--blockquote-quotes-col);
    font-family: Athelas, sans-serif;
    font-size: 6rem;
    line-height: 1;
    
    content: "\201C";
}

blockquote:after
{
    position: relative;
    top: 3.2rem;
    color: var(--blockquote-quotes-col);

    font-family: Athelas, sans-serif;
    font-size: 6rem;
    line-height: 1;
    content: "\201D";
}

#landing #social {
    position: relative;
    right: 36rem; /* 18.5vw on FHD 16/9*/
    top: -12rem;
}

#landing #social li {
    display: inline-block;
    font-size: 8rem;
    width: 2rem;
    margin: 0 5rem;
    justify-content: center;
}

.social-icons::after {
    content: '';
    color: white;
    /* rgb(226, 37, 219) */
    float: right;
    margin: 0 auto;
    height: 6rem;
    width: 6px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    right: -3rem;
    top: -7rem;
}

/* .yt {
    position: relative;
    right: -2.5rem;
} */

#social a:link,
#social a:visited,
#social a:focus
{
    color: white;
    opacity: 0.5;
    /* filter: blur(1px); */
    transition: 0.75s ease;
}

#social a:hover,
#social a:active,
#social a.on {
    opacity: 1;
    filter: unset;
}

#social .fb a:hover,
#social .fb a:active,
#social .fb .on {
    color: var(--fb);
}

#social .yt a:hover,
#social .yt a:active,
#social .yt .on {
    color:var(--yt);
}

#social .ig a:hover,
#social .ig a:active,
#social .ig .on {
    color: var(--ig);
}

/* For all the tiles -- Individual tiles can be styled, well, individually */
.tiles
{
    height: 100vh;
    margin: 0;

    width: calc(100vw - var(--side-width) - var(--events-padding));

    padding: 0 var(--events-padding);
    padding-left: var(--side-width);

    /* margin-left: 0; */

    /* padding: 2.5rem; */

    /* border-radius: 2rem; */

    /* border: 3px dashed rgb(194, 173, 150); */

    /* backdrop-filter: blur(15px); */

    /* DUE TO THE PRELOADER, THIS MAY NOT SEEM LIKE THE APPARENT DURATION - EXP - RESP */
    /* Causes issues with scrollify */
    /* animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp; */
}

.tile-ttl
{
    text-align: center;

    font-family: var(--tile-ttl-font-family);
    font-size: var(--tile-ttl-font-size);
    text-transform: uppercase;

    padding: 10rem 0 4rem 0;

    line-height: 5.5rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);
}

.in-tile-ttl {
    margin: 2rem auto;

    color: var(--ttl-color);
    font-family: var(--in-tile-ttl-font-family);
    font-size: var(--in-tile-ttl-font-size);
    font-weight: 500;
    line-height: 4rem;
    text-shadow: 0px 0px 5px rgb(185, 139, 79);
}

.in-tile-text {
    font-family: var(--in-tile-text-font-family);
}

#events
{
    background-color: var(--events-bg-col);
    overflow: hidden;

    position: absolute;
}

/* The actual timeline (the vertical ruler) */
.timeline
{
    margin: 0 auto;
    margin-top: 12rem;

    /* background: inherit; */
    overflow: hidden;
}

.timeline::-webkit-scrollbar
{
    width: 0 !important;
}

.entry
{
    margin: 2.5rem 5rem;
}

/* Forcing the last element up */
/* .entry:last-child
{
    margin-bottom: 20rem;
} */

.entry-title
{
    margin: 0;
    padding: 1rem;

    color: white;
    font-weight: 200;
    font-size: var(--entry-title-font-size);
}

.entry-title i {
    margin: 0 2rem;
    transition: all 0.6s;
}

.entry-detail
{
    margin: 0;
    max-height: 0;
    overflow: hidden;
    
    font-size: var(--entry-text-font-size);
    font-weight: 200;

    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.entry input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.entry label {
    position: relative;
    display: block;

    margin: 0;
    padding: 1.5rem 0; 
    
    color: white;
    font-family: var(--entry-title-font-family);
    font-weight: 200;
    font-size: var(--entry-title-font-size);

    cursor: pointer;
}

.entry label:hover {
    background: rgba(45, 196, 131, 0.7);
}

/* :checked */
.entry input:checked ~ .entry-detail {
    max-height: 50vh;
}

.entry input[type=checkbox]:checked + label {
    background: rgba(45, 196, 131, 1);
}

.entry input[type=checkbox]:checked + label h2 i {
    transform: rotate(90deg);
}

/* Text in the entry - <p> */
.entry-text {
    text-align: justify;
    margin: 2rem auto;
}

/* Any image in the entry - <img> */
.entry-image {
    float: left;
    margin: 3rem;
}

/* Selective Styling of Entry-Images */
.entry-spic {
    width: 25rem;
    height: 15rem;
}

.entry-def {
    width: 25rem;
    height: 15rem;
}
/* Selective Styling of Entry-Images -- ENDS HERE */

/* GALLERY */
#gallery
{
    background-color: var(--gallery-bg-col);
}

.gallery-slider {
    display: flex;
    align-items: center;

    margin: 6rem 6rem;
    margin-top: 8rem;

    height: 60vh;

    scroll-snap-type: x proximity;
	-webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

/* .gallery-slider:hover .gallery-pics {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
} */

.gallery-slider::-webkit-scrollbar {
    /* width: 0 !important; */
    width: 0.1em;
    height: 0.5em;

    border-radius: 20px;
    box-shadow: 0 0 1px 1px paleturquoise;
}

.gallery-slider::-webkit-scrollbar-button {
    background: #d4b89b;
}
.gallery-slider::-webkit-scrollbar-track-piece {
    background: transparent; /*  #f9df82; */
}
.gallery-slider::-webkit-scrollbar-thumb {
    background: #be9bff;
}

/* FROM HERE: https://codepen.io/lewismcarey/pen/GJZVoG */
/* @keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
  
    50% {
        -webkit-transform: translate3d(calc(-1*var(--gallery-pic-width)*(var(--gallery-pic-num)-4)), 0, 0);
        transform: translate3d(calc(-1*var(--gallery-pic-width)*6), 0, 0);
    }
} */

.gallery-pics {
    position: relative;

    width: var(--gallery-pic-width);
    height: 48vh;

    text-align: center;
    
    scroll-snap-align: center;

    /* -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 30s;
            animation-duration: 30s; */
}

#fic
{
    background-color: var(--fic-bg-col);
}

.fic-container
{
    display: grid;
    grid-template-areas:
        "fic-image fic-words";
    
    grid-template-columns: 42% 58%;

    grid-column-gap: 4rem;
    margin-top: 19vh;

    /* padding: auto 8rem; */
}

.fic-image
{
    grid-area: fic-image;
    /* position: relative; */
    /* left: -4rem; */
    padding: 6rem auto;
    margin-left: 6rem;

    text-align: center;

    border-right: var(--in-tile-vert-sep-col) 0.2rem solid;
}

.fic-image img
{
    margin: 0 auto;
    margin-top: 1.5rem;

    width: var(--fic-image-size);
    height: var(--fic-image-size);

    border-radius: 50%;
    border: 2px solid var(--person-border-color);
}

.fic-words
{
    grid-area: fic-words;
    padding: 4rem;
    margin: 4rem;
    margin-right: 6rem;

    color: white;
    font-size: var(--fic-text-font-size);
    text-align: left;
}

.fic-name
{
    display: grid;
    margin: 0 auto;
    
    color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
    
    font-size: 2.25rem;
    
    border-radius: 5px;
}

#members
{
    background-color: var(--members-bg-col);
    /* Delete the line, below, to make scrollify work perfectly, but wreck the layout (if there are > 10 people) and vice-versa */
    /* height: auto; */

    text-align: center;
}

.members-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 5rem auto;
}

.person
{
    width: var(--width-person);
    height: var(--height-person);

    margin: 5rem 10rem; /* Original: 5rem 4.7rem */

    transition: 0.3s ease;
}

.person-details
{
    position: relative;
    top: -11.8rem; /* PREV: 13.8rem */

    opacity: 0;
    margin: 0 1.4rem; /* PREV: 1.75rem */

    color: aliceblue;
    font-size: 5rem;

    z-index: 10;

    transition: all 0.2s ease;
    
    
    font-size: var(--person-details-font-size);
}

.person-filter
{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 2px solid var(--person-border-color);

    transition: 0.3s ease;
}

.person-name
{
    display: grid;
    margin: 1rem auto;
    margin-top: -4rem;
    
    /*color: var(--sec0);*/
    color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
    font-size: 2.25rem;

    border-radius: 5px;
}

#person-dgn
{
    margin-top: 0.25rem;
    padding-top: 0.25rem;

    color: white;
    font-size: 2rem;
    font-weight: 800;
}


.person:hover .person-filter
{
    filter: blur(6px);
}

.person:hover a
{
    opacity: 1;
}

.fb:hover
{
    opacity: 1;
    color: var(--fb); /* Actual FB Logo Color */
}

.insta:hover
{
    opacity: 1;
    color: var(--ig); /* Actual Insta Logo Color - Just the Reddish Pink */
}

.yt:hover
{
    opacity: 1;
    color: var(--yt); /* Actual YT Logo Color */
}

#contact
{
    background-color: var(--contact-bg-col);
}

.contact-container {
    display: grid;
    grid-template-areas:
        "contact-details contact-spic";

    /* grid-column-gap: 5rem; */
    grid-template-columns: 50% 50%;

    color: white;

    margin-top: 13.5rem;
    padding: 2rem 0;
}

.contact-details {
    grid-area: contact-details;
    text-align: right;

    padding: 2rem;

    border-right: var(--in-tile-vert-sep-col) 0.2rem solid;
}

.contact-niser {
    margin: 5rem 0;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 4rem;
    text-align: right;
}

.address-text {
    font-family: var(--address-font-family);
    font-style: normal;
}

.contact-niser a {
    text-decoration: underline dotted var(--link-underline-col) !important;
}

.follow-us {
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.follow-us a {
    color: white;
    margin: 1rem 2rem;
}

.follow-us a i {
    transition: all 0.4s;
}

.mail:hover {
    color: var(--mail-col);
}

.whatsapp:hover {
    color: var(--whatsapp-col);
}

.contact-spic
{
    grid-area: contact-spic;
    padding: 2rem;

    text-align: left;
}

.contact-spic a {
    text-decoration: underline dotted var(--link-underline-col) !important;
}

.contact-spic p {
    padding: 2rem;

    font-size: 1.9rem;

    text-align: justify;
}

/* CAUTION - CODE GRAVEYARD AHEAD */

/* Media Rules */

/* @media screen and (min-width: 960px) and (max-width: 1875px)
{

} */

/* @media screen and (min-width: 960px) and (max-width: 1124px)
{
  
} */

@media screen and (max-width: 1230px)
{
    :root {
        --main-ttl-font-size: 9rem;
        --tile-ttl-font-size: 7rem;
    }
    body {
        grid-template-columns: minmax(8rem, 12rem) 90%;
    }
    /* #contact-logo {
        margin: 0;
        width: 8rem;
        border-radius: 50%;
    } */
    /* #contact-ttl {
        margin: 0;
        line-height: 4rem;
    } */
    /* #niser-logo {
        margin: 1rem;
        width: 14rem;
        border-radius: 50%;
    } */
    .mailing-address {
        margin: 0;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        line-height: 4rem;
    }
     
}

@media screen and (max-width: 1024px)
{
    :root {
        --main-ttl-font-size: 8rem;
        --tile-ttl-font-size: 6rem;

        --entry-title-font-size: 3rem;
        --entry-date-font-size: 2.6rem;

        --contact-ttl-font-size: 5rem;
    }
    blockquote {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 840px)
{
    :root {
        --main-ttl-font-size: 8rem;
        --tile-ttl-font-size: 6rem;

        --entry-title-font-size: 3rem;

        --width-person: 20rem;
        --height-person: 20rem;
    }
    body {
        grid-template-columns: minmax(8rem, 12rem) 88%;
    }
    .entry-date {
        display: none;
    }
    .entry label::after {
        position: absolute;
        top: 33.5%;
        right: 12%;
    }
    .partialViewSlider-outerwrapper {
        padding: 18rem 0;
    }
    .partialViewSlider-dots {
        position: absolute;
        bottom: 15rem;
    }
    .partialViewSlider-wrapper ul > li > img{
        height: 25vh;
    }
    .partialViewSlider-prev{
        left: 5%;
    }
    .partialViewSlider-next{
        right: 5%;
    }
    #contact-logo {
        margin: 0;
    }
    #contact-ttl {
        margin: 0;
    }
    #niser-logo {
        margin: 1rem;
    }
    .mailing-address {
        margin: 0;
        margin-bottom: 2rem;
    }
    .follow-us {
        font-size: 4.75rem;
    }
    blockquote {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 690px)
{
    :root {
        --main-ttl-font-size: 6.5rem;
        --tile-ttl-font-size: 5rem;

        --entry-title-font-size: 2.7rem;

        --contact-ttl-font-size: 3.5rem;

        --timeline-height: 90%;
    }
    body {
        grid-template-columns: minmax(8rem, 18rem) 84%;
    }
    /* blockquote {
        font-size: 1.6rem;
    } */
    .tile-ttl {
        padding: 0rem;
    }
    #landing {
        text-align: center;
    }
    #landing #social {
        justify-content: center;
        position: relative;
        right: 0;
    }
    #landing #social li {
        font-size: 4.5rem;
        margin: 0 3rem;
    }
    .social-icons::after {
        height: 6rem;
        width: 6px;
        position: relative;
        right: -2.4rem;
        top: -5.5rem;
    }
    .ig {
        position: relative;
        right: -1.4rem;
    }
    .timeline {
        margin-top: 7rem;
    }
    #contact-logo {
        width: 8rem;
        border-radius: 50%;
    }
    #contact-ttl {
        line-height: 4rem;
    }
    #niser-logo {
        width: 14rem;
        border-radius: 50%;
    }
    .mailing-address {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

/* @media screen and (max-width: 415px)
{

} */

/* For phones (portrait) */
/* @media screen and (max-height: 880px)
{

} */
/* For phones (landscape) */
/* @media screen and (max-height: 415px)
{

} */

